form.tool {
    background: var(--dark);
    padding: 25px;
    border-radius: 5px;
    color: var(--bg-color);
    box-shadow: 0px 0px 50px rgb(0,0,0,0.5);
}

form input, form textarea {
     display: block;
     margin: 10px 0;
     border-radius: 3px;
     border: 2px solid rgba(0,0,0,0.1);
     outline: none;
     padding: 8px 10px;
     min-width: 100%;
     max-width: 100%;
     max-height: 80px;
     box-sizing: border-box;
 }
 form button{
     padding: 7px 0px;
     width: 100%;
     margin-top: 5px;
 }
