#splash h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
#splash .container {
    margin-top: 50px;
    text-align: right;
    font-size: 1.15rem;
}

#splash .container img {
    float: right;
    max-width: 350px;
    margin-left: 50px;
    border-radius: 10px;
}

#nav.homepage, #splash {
    background: var(--bg-color)!important;
    color: var(--emphasis)!important;
}

#toc {
    margin: 0px auto 75px auto;
    max-width: 1200px;
}
#toc h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: revert;
}
#toc ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#toc ol li {
    width: 230px;
    list-style-type: square;
    margin-right: 25px;
    line-height: 1rem;
    padding: 5px 0;
}

#main h2 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 20px;
    margin-top: 50px;
}
