h1 a{ color: inherit; border-bottom: 2px dashed white; }
#splash form {
    background: white;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    color: var(--emphasis);
    text-align: left;
    padding: 25px;
    margin-top: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
#splash form label{ display: block; margin-bottom: 5px; }
#splash form label span{ display: inline-block; width: 160px}
#splash form label input, form label select{ width: calc(100% - 160px); padding: 5px; color: var(--emphasis); box-sizing: border-box; }
#splash form input[type="submit"]{ margin-top: 20px; width: 100%; padding: 4px 0; margin-bottom: 0; }

#splash .hgroup{ margin-top: 0; padding-top: 20px; }
#splash p.example{ margin-bottom: 0; }
#splash p.example a{ color: var(--secondary); }

#features .main{ margin-top: 0; }
.features h2{
    margin: 0 0 20px 0!important;
    font-size: 1.55em!important;
    line-height: 1em!important;
}

.waveshape{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjIyMCIgdmlld0JveD0iMCAwIDE0NDAgMjIwIj4KPHBhdGggc3R5bGU9ImZpbGw6IzlhZDFlZCIgZD0ibSAxNDQwLDAgMSw4NSBDIDEyODIuMTcxNSw4NSA2NzAsMTMzIDQ5MCwxMzMgNDU1LDEzMyAxNCwxNCAwLDE0IFYgMCIgLz4KPC9zdmc+);
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    background-position: top center;
    margin-top: -10px;
}

#splash form fieldset legend{ padding: 2px 7px; cursor: pointer; user-select: none; }
#splash form select{ background: white; }
#nav ul > li:nth-child(3) {
    display: none;
}
#features .container a {
    border-bottom: 1px dashed;
}

/* FAQ */
#faq h2 { text-align: center; }
#faq h3 {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 25px;
    margin-top: 25px;
    font-size: 1.35rem !important;
    margin-bottom: 0;
}
#faq h2:after {
    content: ' ';
    display: block;
    width: 100px;
    margin: 10px auto;
    border-top: 4px solid var(--secondary);
}
#faq p{ margin-top: 8px; }
