#splash-container {
    background-color: #9AD1ED;
    background: linear-gradient(to bottom right, #78c1e6, #9AD1ED);
    background-size: cover;
}
#splash-container #splash{ background: inherit; padding: 0 15px; padding-bottom: 10px; }
#splash-container #nav{ background: transparent; }
#splash-container #waveshape{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDQwIDMyMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHBhdGggZmlsbD0iI2YyZjNmNSIgZmlsbC1vcGFjaXR5PSIxIiBkPSJNMCwxOTJMNjAsMTgxLjNDMTIwLDE3MSwyNDAsMTQ5LDM2MCwxNjUuM0M0ODAsMTgxLDYwMCwyMzUsNzIwLDI1MC43Qzg0MCwyNjcsOTYwLDI0NSwxMDgwLDIxMy4zQzEyMDAsMTgxLDEzMjAsMTM5LDEzODAsMTE3LjNMMTQ0MCw5NkwxNDQwLDMyMEwxMzgwLDMyMEMxMzIwLDMyMCwxMjAwLDMyMCwxMDgwLDMyMEM5NjAsMzIwLDg0MCwzMjAsNzIwLDMyMEM2MDAsMzIwLDQ4MCwzMjAsMzYwLDMyMEMyNDAsMzIwLDEyMCwzMjAsNjAsMzIwTDAsMzIwWiI+PC9wYXRoPgo8L3N2Zz4K);
    background-size: 100% 100%;
    height: 10rem;
}
.container.large{ max-width: 1024px; }


#splash {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 0 10px 50px 10px;
    border-bottom: none;
}
#splash:after {
    border-bottom: 3px solid var(--emphasis-primary);
}
#splash h1, #splash h2{
    display:inline;
    font-size:1.70rem;
    line-height: 2rem;
    font-weight: normal;
    color: inherit;
    text-shadow: 0 0 2px var(--bg-color);
    margin: 0;
}

#splash p.button {
    margin-top: 50px;
}
#splash p a.btn{ padding-left: 35px; padding-right: 35px; }
#splash .row {
    max-width:1200px;
    margin: 0 auto;
    padding-top: 40px;
}
#splash .hgroup {
    margin: 50px 0 0px 0;
    padding-top: 60px;
}
#splash .hgroup h2{
    height: 75px;
}

#splash .iframe-wrapper{
    float:right;
    width: 100%;
    max-width: 700px;
}
#splash .iframe-wrapper iframe {
    width: 100%;
    box-shadow: 0 0 25px rgba(65, 83, 100, 0.5);
    border-radius: 5px;
    text-align: center;
    object-fit: contain;
    object-position: top;
    background: var(--bg-color);
    vertical-align: middle;
    height: 450px;
}
#splash .iframe-wrapper div{
    font-size: 1.3rem;
    color: rgba(255,255,255,0.5);
    font-family: monospace;
    padding-top: 20px;
    text-transform: uppercase;
}

#splash form {
    box-shadow: 0 0 25px rgba(65, 83, 100, 0.5);
}

#splash .screenshot{
    box-shadow: 0 0 25px rgba(65, 83, 100, 0.5);
    border-radius: 5px;
    text-align: center;
    height: 450px;
    object-fit: contain;
    object-position: top;
    background: var(--bg-color);
    margin: 40px 0 20px 0;
}
#splash .screenshot img{ border-radius: 5px; }
#splash #oem{
    display: flex;
    justify-content: space-between;
    color: var(--emphasis);
    margin-top: -45px;
    background: var(--emphasis-primary);
    box-shadow: 0px 10px 14px 0px rgb(23 43 77 / 20%);
    padding: 20px 30px;
    position: relative;
    top: 80px;
    border-radius: 2px;
    text-align: left;
}
#splash #oem span { padding: 9px 5px 9px 0; }
#splash #oem .btn{ margin: 0; text-align: center; }

#introduce-second-heading{
    margin: 0 0 50px 0;
    text-align: center;
    color: var(--bg-color);
    background: linear-gradient(var(--dark), #505457);
    padding: 140px;
}

@media (max-width: 767px){
    #splash .onlyForDesktop{ display: none; }
    #splash .onlyForMobile{ display: block!important; }
    #splash .hgroup{padding-top:0!important; }
    #introduce-second-heading{padding: 140px 0;}
}
#splash .onlyForMobile{ display: none; }

@media (max-width: 1150px){
    #splash .row{ max-width: 100%; }
    #splash .iframe-wrapper{ max-width: 551px; }
}

@media (max-width: 950px){
    #splash .row{ max-width: 100%; }
    #splash .iframe-wrapper{ max-width: 390px; }
    #splash .iframe-wrapper iframe{ height: 600px; }
}

/* Features */
#features {
    padding: 50px 0 80px;
}
#features h2 {
    margin-top: 150px;
    margin-bottom: 75px;
    color: var(--secondary);
}
#features .main{
    margin-top: 130px;
    margin-right: auto;
    margin-left: auto;
}
#features h3 {
    margin: 0 0 15px 0;
    text-align: left;
    line-height: 1em;
    font-size: 1.55em!important;
    color: var(--secondary);
    text-align: left;
    line-height: 1.5rem;
}
#features .feature {
    padding-bottom: 20px;
    position: relative;
}
#features .feature p {
    padding-right: 20px;
}
#features .features.main .feature {
    clear: both;
    min-height: 300px;
    margin-bottom: 150px;
}
@media (max-width: 768px) {
    #features .feature {
        margin-left: 4%;
        margin-right: 4%;
    }
    #features .feature .visible-xs {
        margin-top: 15px;
    }
}
#features .feature p {
    text-align: justify;
    margin: 0;
    font-size: 0.95rem;
}
#features .screenshot {
    box-shadow: 0 0 25px rgba(65, 83, 100, 0.5);
    border-radius: 5px;
    margin-top: -200px;
    text-align: center;

    height: 450px;
    object-fit: contain;
    object-position: top;
    background: var(--bg-color);
}
#features .feature img.fancy {
    height: 297px;
    width: 440px;
    object-fit: cover;
}
#features .features .feature:nth-child(even) > h2,
#features .features .feature:nth-child(even) > h3,
#features .features .feature:nth-child(even) > p {
    text-align: right;
}
img.fancy.hidden-xs{
    margin-top: -70px;
}
img.fancy.pull-left { margin-right: 170px; }
img.fancy.pull-right { margin-left: 170px; }
@media (max-width: 1200px){
    #features .feature img.fancy { width:400px; height: 270px; }
    img.fancy.pull-left { margin-right: 130px; }
    img.fancy.pull-right { margin-left: 130px; }
}
@media (max-width: 991px){
    img.fancy.hidden-xs{ margin-top: -35px; }
    #features .feature img.fancy { width:340px; height: 229px; }
    img.fancy.pull-left { margin-right: 50px; }
    img.fancy.pull-right { margin-left: 50px; }
}
@media (max-width: 767px){
    #features .feature img.fancy{ width: 100%; }
    #features .features.main .feature { margin-bottom: 30px; }
    #features .features .feature:nth-child(even) > h2,
    #features .features .feature:nth-child(even) > h3,
    #features .features .feature:nth-child(even) > p {
        text-align: inherit;
    }
}

#features .call-to-action{
    padding: 150px 0;
    background: var(--dark);
    background: linear-gradient(var(--dark), #505457);
    text-align: center;
}
#features .call-to-action .btn{
    border-color: var(--bg-color);
    color: var(--bg-color);
}
#features .call-to-action h2{
    color: var(--bg-color);
    margin: 30px 0px;
}

.col-sm-4.feature.center {
    margin-bottom: 40px;
}

/* Drawing arrows */
i.arrow{
    border: solid;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}
i.right { transform: rotate(-45deg); }
i.top { transform: rotate(-135deg); }
i.down{ transform: rotate(45deg); }

.arrow-right{
    padding-left: 35px;
    font-family:monospace;
    color:rgba(255,255,255,0.5);
}
.arrow-right i{ margin-left: -16px; }
.arrow-top i.arrow{
    border-width: 0 4px 4px 0;
    padding: 4px;
}
