h1 a{ color: inherit; border-bottom: 2px dashed white; }
form {
    background: white;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    color: var(--emphasis);
    text-align: left;
    padding: 25px;
    margin-top: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
form label{ display: block; margin-bottom: 5px; }
form label span{ display: inline-block; width: 160px}
form label input, form label select{ width: calc(100% - 160px); padding: 5px; color: var(--emphasis); box-sizing: border-box; }
form input[type="submit"]{ margin-top: 20px; width: 100%; color: inherit; padding: 4px 0; }

#splash .hgroup{ margin-top: 0; padding-top: 20px; }
#splash p.example{ margin-bottom: 0; }
#splash p.example a{ color: var(--secondary); }
#splash #oem{
    color: var(--emphasis-secondary);
    opacity: 0.3;
    font-size: 2rem;
    margin-bottom: -60px;
    display: block;
    margin-top: 50px;
    text-shadow: 0px 0px 2px white;
}

#features .main{ margin-top: 0; }
.features h2{
    margin: 0 0 20px 0!important;
    font-size: 1.55em!important;
    text-align: left!important;
    line-height: 1em!important;
}

.waveshape{
    background-image: url(data:image/svg+xml;charset=utf8,%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22220%22%20viewBox%3D%220%200%201440%20220%22%3E%0A%20%20%3Cpath%20style%3D%22fill%3A%239ad1ed%22%20d%3D%22M%201440%2C0.00566875%20C%201058.2025%2C-0.18654985%201111.1906%2C74.615531%20868.26628%2C46.755935%20625.34191%2C18.896339%20375.67341%2C9.504338%20251.53491%2C30.044723%20127.39641%2C50.585108%2094.792899%2C1.3763015%200%2C0.00566875%20h%201440%22%20%2F%3E%0A%3C%2Fsvg%3E);
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    margin-top: -2px;
    background-position: top center;
}

form fieldset legend{ padding: 2px 7px; cursor: pointer; user-select: none; }
form select{ background: white; }
#nav ul > li:nth-child(3) {
    display: none;
}
#features .container a {
    border-bottom: 1px dashed;
}

/* FAQ */
#faq h3 {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 25px;
    margin-top: 25px;
    font-size: 1.35rem !important;
    margin-bottom: 0;
}
#faq h2:after {
    content: ' ';
    display: block;
    width: 100px;
    margin: 10px auto;
    border-top: 4px solid var(--secondary);
}
#faq p{ margin-top: 8px; }
