---
layout: default
language: en
head:
  - <link rel="alternate" href="/" hreflang="en" />
  - <link rel="alternate" href="/fr/" hreflang="fr" />
---

<div id="splash-container">
  {% include menu.html context="homepage" %}
  <link rel="stylesheet" href="/css/landing-page.css">
  <div id="splash">
    <div class="row">
	  <div class="col-sm-12">
        <div class="iframe-wrapper onlyForDesktop">
          <iframe id="appframe" frameborder="0" src="https://demo.filestash.app/login?type=webdav&url=https://webdav.filestash.app/" allow="fullscreen;speaker"></iframe>
          <script>
            fetch("https://demo.filestash.app/healthz").then((res) => {
                if (res.ok) return;
                throw new Error("err")
            }).catch((err) => {
                document.getElementById("appframe").parentElement.innerHTML = `<img alt="Filestash screenshot" src="/img/screenshots/viewerpage.png" />`;
            })
          </script>
        </div>
	    <div class="hgroup">
		  <h1>Filestash</h1>
		  <h2>
            turns your <br>
            <noscript>
              <a href="{% post_url 2019-11-26-ftp-web-client %}">FTP</a> / <a href="{% post_url 2021-10-18-webdav-client %}">WebDav</a> / <a href="{% post_url 2020-04-30-sftp-browser %}">SFTP</a> / <a href="{% post_url 2019-11-21-s3-browser %}">S3</a> / <a href="{% post_url 2019-11-21-s3-browser %}">Minio</a> / Git / <a href="{% post_url 2020-01-04-ldap-browser %}">LDAP</a> / Google drive / Dropbox server / Storj
            </noscript>
            <span id="typing"></span> <br>
            into this
            <span class="arrow-right onlyForDesktop">
              <i class="arrow right"></i>
              <i class="arrow right"></i>
              <i class="arrow right"></i>
            </span>
          </h2>
	    </div>

        <div class="screenshot onlyForMobile">
          <img alt="Filestash screenshot" src="/img/screenshots/viewerpage.png" />
        </div>

        <script src="/js/typed.min.js"></script>
        <script>
          new Typed('#typing', {
              strings: [
                  "rock solid FTP server",
                  "rock solid SFTP server",
                  "shiny S3 buckets",
                  "shiny Minio server",
                  "awesome Webdav server",
                  "awesome CardDav/CalDav server",
                  "Backblaze B2",
                  "Storj data store",
                  "backend systems",
                  "reliable Git repo",
                  "reliable mysql server",
                  "old school LDAP server",
                  "Google Drive",
                  "Dropbox",
              ],
              typeSpeed: 50,
              backSpeed: 30,
              startDelay: 100,
              backDelay: 500,
              smartBackspace: true,
              loop: true
          });
        </script>

        <p class="button">
          <a class="btn" href="{% link _docs/index.md %}">Start now</a>
	    </p>

      </div>
    </div>
  </div>
  <div id="waveshape"></div>
</div>
<div id="bring-your-own">
  <div class="container">
    <h3>Bring your own backend:</h3>
    <div class="center backend-list">
      <strong><a href="{% post_url 2019-11-21-s3-browser %}">S3</a></strong>
      <strong><a href="{% post_url 2020-04-30-sftp-browser %}">SFTP</a></strong>
      <strong><a href="{% post_url 2019-11-26-ftp-web-client %}">FTP</a></strong>
      <strong><a href="{% post_url 2019-11-26-ftp-web-client %}">FTPS</a></strong>
      <strong><a href="{% post_url 2019-11-21-s3-browser %}">Minio</a></strong>
      <strong>Backblaze</strong>
      <strong>GIT</strong>
      <strong>Github</strong>
      <strong>Gitlab</strong>
      <strong><a href="{% post_url 2021-10-18-webdav-client %}">WebDav</a></strong>
      <strong>Samba</strong>
      <strong>Storj</strong>
      <strong>Artifactory</strong>
      <strong>Local FS</strong>
      <strong>NFS</strong>
      <strong><a href="{% post_url 2020-01-04-ldap-browser %}">LDAP</a></strong>
      <strong>CalDAV</strong>
      <strong>CardDAV</strong>
      <strong>Mysql</strong>
      <strong>Dropbox</strong>
      <strong>Google Drive</strong>
      <strong>Gogs</strong>
      <strong>Gitea</strong>
    </div>
    <style>
      #bring-your-own {
          background: var(--bg-color);
          border-bottom: 1px solid rgba(0,0,0,0.05);
          padding: 50px  0 90px 0;
      }
      #bring-your-own {
          opacity: 0.8;
          text-align: center;
          color: var(--dark);
          font-size: 1.2rem;
          font-weight: bold;
      }
      #bring-your-own .backend-list strong{
          text-shadow: 1px 0px 5px rgba(0,0,0,0.1);
          display: inline-block;
          padding: 0 10px;
          font-size: 1.1rem;
          min-width: 60px;
          font-weight: bold;
          opacity: 0.8;
          letter-spacing: 0.05rem;
          color: var(--dark);
          opacity: 0.8;
      }
      #bring-your-own .backend-list strong a {
          color: inherit;
      }
    </style>
  </div>
</div>

<h2 id="introduce-second-heading">
  The Enterprise File Management Solution<br>
  <div style="font-size: 1.3rem;margin-top:10px">Integrate your existing Storage, Authentication, and Authorisation Systems</div>
  <br>
  <a href="/pricing/?modal=enterprise" class="btn light">Chat with Us</a>
</h2>

<p class="center" style="font-weight: bold; text-transform: uppercase; color: var(--light)">Trusted by</p>
<div class="social-proof">
  <div>
    <a href="https://www.media.mit.edu/posts/file-sharing/"><img src="/img/companies/mit.png" /></a>
  </div>
  <div>
    <img src="/img/companies/dhl.png" />
  </div>
  <div>
    <img src="/img/companies/schneider-electric.png" />
  </div>
  <div>
    <img src="/img/companies/bell.png" />
  </div>
</div>
<div class="social-proof">
  <div>
    <img src="/img/companies/shell.png" />
  </div>
  <div>
    <img src="/img/companies/krtk.png" />
  </div>
  <div>
    <img src="/img/companies/singapore.png" />
  </div>
</div>
<div class="social-proof">
  <div>
    <img src="/img/companies/insa-toulouse.png" />
  </div>
  <div>
    <img src="/img/companies/university_clermont.png" />
  </div>
</div>

<style>
 .social-proof {
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow-x: hidden;
     margin: 10px 0;
 }
 .social-proof img {
     width: 240px;
     height: 50px;
     filter: grayscale(100) brightness(100) invert(0.5);
 }
</style>
<br>



<div class="container">
    <div class="row">
        <!-- <a class="case-study">
             <strong>Filestash at MIT</strong><br/>
             Enabling their students to access the internal SMB shares integrating with their LDAP and 2FA provider ...<br/>
             </a> -->
        <!-- <a class="case-study" href="post_url 2023-05-01-case-study-filestash-at-dhl">
             <strong>Filestash at DHL</strong><br/>
             Integrating DHL's life cycle management software with our white label product to interact with artifactory using OIDC and ...<br/>
             </a> -->
        <!-- <a class="case-study">
             <strong>Filestash at Schneider Electric</strong><br/>
             Enabling technical writers to publish and deploy new versions of their online help ...<br>
             </a> -->
        <!-- <a class="case-study">
             <strong>Filestash at Powerstone property management</strong><br/>
             A toilored solution for home owner, board, committee member and admin to publish and release documentation accross the properties under their management ...<br>
             </a> -->
    </div>
</div><br/><br/>
<style>
 .case-study {
     display:block;
     padding: 15px;
     margin: 10px 0;
     color: inherit;
     text-align: justify;

     font-size: 0.9rem;

     background: white;
     border-radius: 5px;
     box-sizing: border-box;
     border-left: 5px solid var(--primary);

     transition: all 0.3s;
 }
 .case-study:hover {
     background: #9AD1ED2a;
     border-top-right-radius: 40px;
 }
</style>

<div id="github-events"></div>
<script defer>
 // https://github.com/azer/relative-date/blob/master/lib/relative-date.js
 function relativeDate(input,reference){
     let SECOND = 1000,
         MINUTE = 60 * SECOND,
         HOUR = 60 * MINUTE,
         DAY = 24 * HOUR,
         WEEK = 7 * DAY,
         YEAR = DAY * 365,
         MONTH = YEAR / 12;

     let formats = [
         [ 0.7 * MINUTE, 'just now' ],
         [ 1.5 * MINUTE, 'a minute ago' ],
         [ 60 * MINUTE, 'minutes ago', MINUTE ],
         [ 1.5 * HOUR, 'an hour ago' ],
         [ DAY, 'hours ago', HOUR ],
         [ 2 * DAY, 'yesterday' ],
         [ 7 * DAY, 'days ago', DAY ],
         [ 1.5 * WEEK, 'a week ago'],
         [ MONTH, 'weeks ago', WEEK ],
         [ 1.5 * MONTH, 'a month ago' ],
         [ YEAR, 'months ago', MONTH ],
         [ 1.5 * YEAR, 'a year ago' ],
         [ Number.MAX_VALUE, 'years ago', YEAR ]
     ];

     !reference && ( reference = (new Date).getTime() );
     reference instanceof Date && ( reference = reference.getTime() );
     input instanceof Date && ( input = input.getTime() );

     var delta = reference - input,
         format, i, len;

     for(i = -1, len=formats.length; ++i < len; ){
         format = formats[i];
         if(delta < format[0]){
             return format[2] == undefined ? format[1] : Math.round(delta/format[2]) + ' ' + format[1];
         }
     };
 }
 fetch("https://api.github.com/repos/mickael-kerjean/filestash/events")
     .then((r) => r.json())
     .then((r) => {
         document.getElementById("github-events").innerHTML = r.map((e) => {
             if (e.actor.display_login === "mickael-kerjean") return;
             switch(e.type) {
                 case "WatchEvent":
                     return `
<div>
  <img src="${e.actor.avatar_url}"/>
  <div>
    <div class="ellipsis"><a rel="nofollow" href="https://github.com/${e.actor.login}">${e.actor.login}</a> like us</div>
    <div class="date">${relativeDate(new Date(e.created_at))}</div>
  </div>
</div>`
                 case "ForkEvent":
                     return `<div>
   <img src="${e.actor.avatar_url}"/>
   <div><div class="ellipsis"><a href="https://github.com/${e.actor.login}">${e.actor.login}</a> is exploring our code</div>
   <div class="date">${relativeDate(new Date(e.created_at))}</div></div>
</div>`
                     break;
                 case "PullRequestEvent":
                     return `<div>
   <img src="${e.actor.avatar_url}"/>
   <div><div class="ellipsis"><a href="https://github.com/${e.actor.login}">${e.actor.login}</a> is contributing</div>
   <div class="date">${relativeDate(new Date(e.created_at))}</div></div>
</div>`
                     break;
                 default:
                     return ""
             }
             return
         }).join("")
     })
     .catch((err) => console.log(err))
</script>
<style>
 #github-events {
     display: flex;
     overflow-x: hidden;
     height: 80px;
 }
 #github-events > div {
     clear: left; margin: 0 10px 10px 0; padding: 10px; font-size: 0.9rem; min-width: 290px;
     background: white; border-radius: 3px;
 }
 #github-events .ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
 #github-events .date { margin-top: 5px; }
 #github-events img { width: 45px; height: 45px; float: left; padding-right: 7px; filter: grayscale(100%); }
</style>


<div class="reviews">
    <div class="review">
        <a rel="nofollow" href="https://www.linkedin.com/in/chris-meng-41b8b297/"><strong>Chris M.</strong><img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" style="float: right; height: 20px;" /></a><br/>
        <div style="clear:both;margin-top:10px;">
            <svg class="w-5 lg:w-4.6 xl:w-5.1 text-v1-indigo-200" xmlns="http://www.w3.org/2000/svg" fill="var(--light)" viewBox="0 0 32 32"><defs></defs><g class="fill-current" clip-path="url(#clip0)"><path d="M.007 22.205a7.617 7.617 0 107.617-7.617c-.864 0-1.692.15-2.467.416C6.871 5.172 14.538-1.168 7.431 4.05-.449 9.837-.002 21.972.007 22.195v.01zM16.765 22.205a7.617 7.617 0 107.617-7.617c-.864 0-1.692.15-2.466.416 1.714-9.832 9.38-16.172 2.273-10.954-7.88 5.787-7.432 17.922-7.424 18.145v.01z"></path></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h32v32H0z"></path></clipPath></defs></svg>
            If you need a file manager, get filestash. The product is easy to use, easy to configure, very secure, and works very well. Mickael has been outstanding with his customer support, helping us customize the app to fit our specific requirements. I can't say enough good things about his app, and him. If you are looking for a fast, efficient, and streamlined front-end GUI to manage files, look no further.
        </div>
    </div>
    <div class="review">
        <a rel="nofollow" href="https://www.linkedin.com/in/davidcarrillojr/"><strong>David C.</strong><img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" style="float: right; height: 20px;" /></a><br/>
        <div style="clear:both;margin-top:10px;">
            <svg class="w-5 lg:w-4.6 xl:w-5.1 text-v1-indigo-200" xmlns="http://www.w3.org/2000/svg" fill="var(--light)" viewBox="0 0 32 32"><defs></defs><g class="fill-current" clip-path="url(#clip0)"><path d="M.007 22.205a7.617 7.617 0 107.617-7.617c-.864 0-1.692.15-2.467.416C6.871 5.172 14.538-1.168 7.431 4.05-.449 9.837-.002 21.972.007 22.195v.01zM16.765 22.205a7.617 7.617 0 107.617-7.617c-.864 0-1.692.15-2.466.416 1.714-9.832 9.38-16.172 2.273-10.954-7.88 5.787-7.432 17.922-7.424 18.145v.01z"></path></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h32v32H0z"></path></clipPath></defs></svg>
            My company required a custom plugin derived from the original open source repo. The developer provided such great support during the first meetings, that my company immediately opened an enterprise account with Filestash. The support and development of our own custom plugin was fantastic!
        </div>
    </div>
</div>
<style>
 .reviews {
     display: flex;
     max-width: 1200px;
     margin: 00px auto 0 auto;
 }
 .reviews > .review {
     width: 50%;
     padding: 30px;
     text-align: justify;
     margin: 15px;

     font-size: 0.9rem;
     background: white;
     border-radius: 3px;
 }
 .reviews > .review svg { width: 20px; margin-right: 5px; }
</style>

<div id="features">
    <div class="container large">
        <div class="row features main">
            <div class="feature">
                <img alt="screenshot of Filestash when uploading files/folders" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature1.png" />
                <h3>Universal File Manager</h3>
                <p>
                  Browse, edit, manage, preview and share files from your existing storage solutions through a single, user-friendly interface, regardless of the underlying file transfer protocol
                </p>
                <img alt="screenshot of Filestash when uploading files/folders" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature1.png" />
            </div>
            <div class="feature">
                <img alt="screenshot of the admin console which shows the setup of the SSO integration" loading="lazy" class="fancy pull-right hidden-xs with-zoom" src="/img/screenshots/feature_sso.png" />
                <h3>SSO Integration</h3>
                <p>
                    Integrate with your existing corporate Single Sign-On (SSO) for secure, centralized authentication that's familiar to your users using either of LDAP, SAML, OAuth2 and OIDC
                </p>
                <img alt="screenshot of the admin console which shows the setup of the SSO integration" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_sso.png" />
            </div>

            <div class="feature">
                <img alt="White-Label Solution example with DHL" loading="lazy" class="fancy pull-left hidden-xs with-zoom" src="/img/screenshots/feature_branding.png" />
                <h3>White-Label Solution</h3>
                <p>
                    A white-label file management solution that can be tailored to your needs and integrate with your existing solutions and systems
                </p>
                <img alt="White-Label Solution example with DHL" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_branding.png" />
            </div>

            <div class="feature">
                <img alt="screenshot of the css update from admin console" loading="lazy" class="fancy pull-right hidden-xs" src="/img/screenshots/feature_css.png" />
                <h3>Customisable Branding</h3>
                <p>
                    Customise the look and feel of Filestash to match your company's branding, creating a seamless and consistent experience for your users accross your company
                </p>
                <img alt="screenshot of the css update from admin console" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_css.png" />
            </div>

            <div class="feature">
                <img alt="screenshot of Filestash auditing plugin" loading="lazy" class="fancy pull-left hidden-xs with-zoom" src="/img/screenshots/feature_audit.png" />
                <h3>Security & Compliance</h3>
                <p>
                    Activity logs and audit trails is available in our enterprise offering to keep track of who did what, where and when to maintain security and compliance of your confidential information
                </p>
                <img alt="screenshot of Filestash auditing plugin" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_audit.png" />
            </div>

            <div class="feature">
                <img alt="screenshot while creating a shared link" loading="lazy" class="fancy pull-right hidden-xs" src="/img/screenshots/feature_share_0000.png" />
                <h3>Foster collaboration</h3>
                <p>
                    Empower your teams with a flexible file sharing mechanism, making collaboration simple within your company but also with your partners and customers outside of it
                </p>
                <img alt="screenshot while creating a shared link" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_share_0000.png" />
            </div>

            <div class="feature">
                <img alt="Filestash plugins" loading="lazy" class="fancy pull-left hidden-xs with-zoom" src="/img/screenshots/feature_plugins.png" />
                <h3>Extendable through plugins</h3>
                <p>
                    With its unique plugin based architecture, we can address a wide range of business needs and create additional plugins for unique and custom requirements.
                </p>
                <img alt="Filestash plugins" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_plugins.png" />
            </div>

            <br><br><br>
        </div>
    </div>
    <style>
     #features .feature img.fancy.hidden-xs.pull-right.with-zoom:hover {
         transform: translateX(-50%) scale(2);
         transition: transform 0.3s ease;
     }
     #features .feature img.fancy.hidden-xs.pull-left.with-zoom:hover {
         transform: translateX(50%) scale(2);
         transition: transform 0.3s ease;
     }
    </style>

    <div class="call-to-action">
        <h2>Ready to get started?</h2>
        <a class="btn light" href="{% link _docs/index.md %}">GETTING STARTED</a>
        <a class="btn light" href="https://demo.filestash.app">DEMO</a>
    </div>
    <style>
      #features .call-to-action:after{
          content: "";
          background-image: linear-gradient(to top left, var(--super-light) 50%, transparent 51%);
          background-position: bottom right;
          background-size: 100% 50px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0px;
          right: 0px;
          height: 50px;
          bottom: 0;
      }

    </style>

    <div class="container">
        <h2 class="center"> More Features</h2>

        <div class="row">
            <div class="col-sm-4 feature center">
                <h3>Multi-Language</h3>
		        <p>Filestash has been translated in 42 languages</p>
            </div>
            <div class="col-sm-4 feature center">
                <h3>API Access</h3>
		        <p>Access and manage your storages with our universal API</p>
            </div>
            <div class="col-sm-4 feature center">
		        <h3>Admin Console</h3>
		        <p>The admin console makes it easy to configure everything</p>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Bulk actions</h3>
		        <p>Perform actions on multiple files at once</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Document Preview</h3>
		        <p>View files without having to download them in your local machine first</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Resource Efficient</h3>
		        <p>The smallest VPS is plenty enough to run Filestash for most people</p>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Zip download</h3>
		        <p>Download files and folders as zip files</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Drag & Drop</h3>
		        <p>Effortlessly upload and organisation your files and folders by drag & drop</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Lightning fast</h3>
		        <p>The web app is designed to feel extremely fast</p>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Photo preview</h3>
		        <p>An image viewer that work not only with jpeg and png but also your raw files and heic</p>
	        </div>
            <div class="col-sm-4 feature center">
                <h3>Thumbnails</h3>
                <p>Automatic generation of thumbnails to preview any kind of file efficiently
                </p>
            </div>
            <div class="col-sm-4 feature center">
                <h3>Video player</h3>
                <p>Stream your video content with are transcoded on demand onto HLS stream</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Text editor</h3>
		        <p>Our text editor makes editing code/text/org mode documents a brease</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Works everywhere</h3>
		        <p>The web app works flawlessly on all devices</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>No bloat</h3>
		        <p>Our software is laser focused but extensible via plugins</p>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Keyboard Shortcuts</h3>
		        <p>A range of keyboard shortcuts to do things more efficiently</p>
	        </div>
            <div class="col-sm-4 feature center">
                <h3>Database plugins</h3>
                <p>Our database plugins make it easy to explore data in relational databases</p>
            </div>
            <div class="col-sm-4 feature center">
                <h3>Simple & Powerful</h3>
		        <p>Our only mission is to make it easy to manage your data</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
                <h3>Music player</h3>
		        <p>The audio player is there so you don't have to download your files first</p>
            </div>
            <div class="col-sm-4 feature center">
		        <h3>Plugin based Search</h3>
		        <p>Various plugin for different search strategies from recursive to fts or custom</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Quick Access</h3>
		        <p>Your most visited files are pinned to your homepage for quick access</p>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Network Drive</h3>
		        <p>Shared links are network drives you can mount in your filesystem as network drives</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Secure</h3>
		        <p>We've passed aggressive security audits made by F500</p>
	        </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/>

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "{{ site.url }}",
      "potentialAction": {
          "@type": "SearchAction",
          "target": {
              "@type": "EntryPoint",
              "urlTemplate": "{{ site.url }}/search?q={search_term_string}"
          },
          "query-input": "required name=search_term_string"
      }
  }
</script>

{% include footer.html %}
