---
layout: default
language: en
head:
  - <link rel="alternate" href="/" hreflang="en" />
  - <link rel="alternate" href="/fr/" hreflang="fr" />
---

<div id="splash-container">
  {% include menu.html context="homepage" %}
  <link rel="stylesheet" href="/css/landing-page.css">
  <div id="splash">
    <div class="row">
	  <div class="col-sm-12">
        <div class="iframe-wrapper onlyForDesktop">
          <iframe id="appframe" frameborder="0" src="https://demo.filestash.app/login?type=webdav&url=https://webdav.filestash.app/" allow="fullscreen;speaker"></iframe>
          <div class="arrow-top">
            <i class="arrow top"></i>
            <i class="arrow top"></i>
            try me
            <i class="arrow top"></i>
            <i class="arrow top"></i>
          </div>
        </div>
	    <div class="hgroup">
		  <h1>Filestash</h1>
		  <h2>
            turns your <br>
            <noscript>
              <a href="{% post_url 2019-11-26-ftp-web-client %}">FTP</a> / WebDav / <a href="{% post_url 2020-04-30-sftp-browser %}">SFTP</a> / <a href="{% post_url 2019-11-21-s3-browser %}">S3</a> / <a href="{% post_url 2019-11-21-s3-browser %}">Minio</a> / Git / <a href="{% post_url 2020-01-04-ldap-browser %}">LDAP</a> / Google drive / Dropbox server
            </noscript>
            <span id="typing"></span> <br>
            into this
            <span class="arrow-right onlyForDesktop">
              <i class="arrow right"></i>
              <i class="arrow right"></i>
              <i class="arrow right"></i>
            </span>
          </h2>
	    </div>

        <div class="screenshot onlyForMobile">
          <img alt="Filestash screenshot" src="/img/screenshots/viewerpage.png" />
        </div>

        <script src="/js/typed.min.js"></script>
        <script>
          new Typed('#typing', {
              strings: [
                  "rock solid FTP server",
                  "rock solid SFTP server",
                  "shiny S3 buckets",
                  "shiny Minio server",
                  "awesome Webdav server",
                  "awesome CardDav/CalDav server",
                  "Backblaze B2",
                  "backend systems",
                  "reliable Git repo",
                  "reliable mysql server",
                  "old school LDAP server",
                  "boring Google Drive",
                  "boring Dropbox",
              ],
              typeSpeed: 50,
              backSpeed: 30,
              startDelay: 100,
              backDelay: 500,
              smartBackspace: true,
              loop: true
          });
        </script>

        <p class="button">
          <a class="btn" href="{% link _docs/index.md %}">Start now</a>
	    </p>

      </div>
    </div>
  </div>
  <div id="waveshape"></div>
</div>
<div id="bring-your-own">
  <div class="container">
    <h3>Bring your own backend:</h3>
    <div class="center backend-list">
      <strong><a href="{% post_url 2019-11-21-s3-browser %}">S3</a></strong>
      <strong><a href="{% post_url 2020-04-30-sftp-browser %}">SFTP</a></strong>
      <strong><a href="{% post_url 2019-11-26-ftp-web-client %}">FTP</a></strong>
      <strong><a href="{% post_url 2019-11-26-ftp-web-client %}">FTPS</a></strong>
      <strong><a href="{% post_url 2019-11-21-s3-browser %}">Minio</a></strong>
      <strong>Backblaze</strong>
      <strong>GIT</strong>
      <strong>Github</strong>
      <strong>Gitlab</strong>
      <strong>WebDav</strong>
      <strong><a href="{% post_url 2020-01-04-ldap-browser %}">LDAP</a></strong>
      <strong>CalDAV</strong>
      <strong>CardDAV</strong>
      <strong>Mysql</strong>
      <strong>Dropbox</strong>
      <strong>Google Drive</strong>
      <strong>Gogs</strong>
      <strong>Gitea</strong>
    </div>
    <style>
      #bring-your-own {
          background: var(--bg-color);
          border-bottom: 1px solid rgba(0,0,0,0.05);
          padding: 50px  0 90px 0;
      }
      #bring-your-own {
          opacity: 0.8;
          text-align: center;
          color: var(--dark);
          font-size: 1.2rem;
          font-weight: bold;
      }
      #bring-your-own .backend-list strong{
          text-shadow: 1px 0px 5px rgba(0,0,0,0.1);
          display: inline-block;
          padding: 0 10px;
          font-size: 1.1rem;
          min-width: 60px;
          font-weight: bold;
          opacity: 0.8;
          letter-spacing: 0.05rem;
          color: var(--dark);
          opacity: 0.8;
      }
      #bring-your-own .backend-list strong a {
          color: inherit;
      }
    </style>
  </div>
</div>

<h2 id="introduce-second-heading">
  An easy to use product that integrates with your data and your processes <br><br>
  <a href="/pricing/#enterprise" class="btn light">Chat with Us</a>
</h2>

<div id="features">
    <div class="container large">
        <div class="row features main">
            <div class="feature">
                <img alt="screenshot of Filestash when uploading files/folders" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature1.png" />
                <h3>Manage your data online</h3>
                <p>
                    Filestash lets you access and manage your data in a simple way regardless of where tat data is stored
                </p>
                <img alt="screenshot of Filestash when uploading files/folders" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature1.png" />
            </div>
            <div class="feature">
                <img alt="screenshot while creating a shared link" loading="lazy" class="fancy pull-right hidden-xs" src="/img/screenshots/feature_share_0000.png" />
                <h3>Collaborate</h3>
                <p>
                    With its flexible sharing mechanism, Filestash allows the creation of shared links that can be mounted as a network drive
                </p>
                <img alt="screenshot while creating a shared link" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_share_0000.png" />
            </div>

            <div class="feature">
                <img alt="Filestash as a photo gallery" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature_image_0000.jpg" />
                <h3>Explore your Photos</h3>
                <p>
                    Upload your photos and share a link with someone else. The image viewer exposes all the metadata in your pictures
                </p>
                <img alt="Filestash as a photo gallery" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_image_0000.jpg" />
            </div>
            <div class="feature">
                 <img alt="Filestash as a media viewer" loading="lazy" class="fancy pull-right hidden-xs" src="/img/screenshots/feature_media.png" />
                <h3>Enjoy your media</h3>
                <p>
                  Filestash lets you stream your videos and music straight from your browser
                </p>
                <img alt="Filestash as a media viewer" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_media.png" />
            </div>

            <div class="feature">
                <img alt="org-mode client" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature_orgmode_0000.png" />
                <h3>Take notes</h3>
                <p>
                  Filestash's powerfull editor support <i>org-mode</i>. It can be used to create reports, notes, agendas and todos
                </p>
                <img alt="org-mode client" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_orgmode_0000.png" />
            </div>

            <div class="feature">
                <img alt="example of login screen after configuring Filestash" loading="lazy" class="fancy pull-right hidden-xs" src="/img/screenshots/feature3.png" />
                <h3>Make it exactly the way you need it</h3>
                <p>
                    Filestash can be configure to fit your use case. In need of more flexibility? Create your own plugin and make it happen
                </p>
                <img alt="example of login screen after configuring Filestash" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature3.png" />
            </div>

            <br><br><br><br><br>
        </div>
    </div>

    <div class="call-to-action">
        <h2>Ready to get started?</h2>
        <a class="btn light" href="{% link _docs/index.md %}">GETTING STARTED</a>
        <a class="btn light" href="https://demo.filestash.app">DEMO</a>
    </div>

    <div class="container">
        <h2 class="center"> More Features</h2>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Open Source</h3>
		        <p>Our entire source code is available on github</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Low resources</h3>
		        <p>It doesn't take a supercomputer to run Filestash</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Powerfull Search</h3>
		        <p>To let you find your files in an instant</p>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
                <h3>Video transcoding</h3>
                <p>Automatically transcode videos on demand</p>
            </div>
            <div class="col-sm-4 feature center">
		        <h3>Network Drive</h3>
		        <p>Shared links are full fledge network drive</p>
	        </div>
            <div class="col-sm-4 feature center">
                <h3>Image optimisation</h3>
                <p>Pictures are transcoded on demand to fit your screen without waste</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Works everywhere</h3>
		        <p>The web app works flowlessly on all devices</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Super fast</h3>
		        <p>The web app is designed to feel extremely fast</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>No bloat</h3>
		        <p>Our software is laser focus but extensible</p>
	        </div>
	    </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Secure</h3>
		        <p>We've passed agressive security audit to deploy in a F500 company</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Quick Access</h3>
		        <p>Your most visited files are pined to your homepage for quick access</p>
	        </div>
            <div class="col-sm-4 feature center">
		        <h3>Admin area</h3>
		        <p>An easy to use admin panel to configure your instance</p>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 feature center">
		        <h3>Shortcuts</h3>
		        <p>A range of keyboard shortcut to do things faster</p>
	        </div>
            <div class="col-sm-4 feature center">
                <h3>Database plugins</h3>
                <p>New connectors to explore data in relational databases</p>
            </div>
            <div class="col-sm-4 feature center">
                <h3>Simple & powerfull</h3>
		        <p>Our only mission: "Filestash let you manage your data"</p>
            </div>
        </div>
    </div>
</div>

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "{{ site.url }}",
      "potentialAction": {
          "@type": "SearchAction",
          "target": {
              "@type": "EntryPoint",
              "urlTemplate": "{{ site.url }}/search?q={search_term_string}"
          },
          "query-input": "required name=search_term_string"
      }
  }
</script>

{% include footer.html %}
