<style>
  .banner {
    background: var(--emphasis-primary);
    color: var(--dark);
    padding: 15px 10px;
    border-radius: 3px;
    border: 2px solid var(--primary);
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: -5px;
    display: block;
    box-shadow: 2px 2px 5px rgba(65, 83, 100, 0.2);
  }
  .banner a {
      font-weight: bold;
  }
</style>
<div class="banner">
  Like the project? Spread the word by giving us a like on <a target="_blank" href="https://alternativeto.net/software/nuage-app/">alternativeto</a> or on <a target="_blank" href="https://www.saashub.com/filestash-reviews/new">saas hub</a>!
</div>
