<div id="contribute">
    <hr>
    <p>
      {% if page.language == 'fr' %}
        <a rel="nofollow noopener" href="https://github.com/mickael-kerjean/filestash-website/blob/master/{{page.path}}">
            Modifier cette page!
        </a>
      {% else %}
        See something that needs fixing?
        <a rel="nofollow noopener" href="https://github.com/mickael-kerjean/filestash-website/blob/master/{{page.path}}">
            Propose a change.
        </a>
        {% endif %}
    </p>
</div>
