<script>
  (function() {
      fetch("https://demo.filestash.app/healthz").then((a) => {
          if (a.ok) return;
          return a.text();
      }).then((content) => {
          if(!content) return;
          fetch("https://downloads.filestash.app/compute/event.php", {
              method: "POST",
              credentials: "include",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({type:"blocked", content: content}),
          }).catch(() => {});
          throw new Error(content);
      }).catch((err) => {
          if(err && /zscaler/.test(err.message)) {
              const $disabled = document.createElement("div");
              $disabled.innerHTML = `<div>
   Zscaler is blocking access to our shared service<br/><br/>
   Reach out to our <a href="https://www.filestash.app/pricing/?modal=enterprise">support team</a> to deploy Filestash directly in your organisation.
</div>`;
              $disabled.setAttribute("style", `position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 70px 26px;
    text-align: justify;
    font-size:1.2rem;
    border-radius: 5px;
    `);
              document.querySelector("#splash form").style.position = "relative";
              document.querySelector("#splash form").appendChild($disabled);
              document.querySelector("#splash form input[type=\"submit\"]").setAttribute("disabled", "true");
          } else {
              const $modal = document.createElement("div");
              $modal.innerHTML = `<div id="filestash-modal">
<div class="content">
   Our online tool isn't available at the moment.<br/><br/>
   We are working on it and will be back. Contact us if you need anything support@filestash.app
</div>
</div>`;
              document.body.appendChild($modal);
          }
      });
  })()
</script>
<style>
  #filestash-modal {
      background: #00000088;
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index:999;
  }
  #filestash-modal .content {
      text-align: center;
      background: white;
      width: 450px;
      margin: 180px auto;
      padding: 70px 50px;
      border-radius: 5px;
      box-shadow: 0 0 25px rgb(65 83 100 / 50%);
  }
</style>
