<script>
  (function() {
      fetch("https://demo.filestash.app/healthz").then((a) => {
          if (a.ok) return;
          return a.text();
      }).then((content) => {
          if(!content) return;
          fetch("https://downloads.filestash.app/compute/event.php", {
              method: "POST",
              credentials: "include",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({type:"blocked", content: content}),
          }).catch(() => {});
          throw new Error(content);
      }).catch((err) => {
          const $modal = document.createElement("div");
          if(err && /zscaler/.test(err.message)) {
              $modal.innerHTML = `<div id="filestash-modal">
<div class="content">
   Zscaler is blocking the access to our demo tool.<br/><br/>
   We can help you deploy Filestash in your organisation, <a href="https://www.filestash.app/pricing/?modal=enterprise">reach out to our support team</a> to get started
</div>
</div>`;
          } else {
          $modal.innerHTML = `<div id="filestash-modal">
<div class="content">
   This online tools appears to be offline.<br/><br/>
   If you still see this message in 5 minutes, you are likely being blocked from accessing our tools by your network admin
</div>
</div>`;
          }
          document.body.appendChild($modal);
      });
  })()
</script>
<style>
  #filestash-modal {
      background: #00000088;
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index:999;
  }
  #filestash-modal .content {
      text-align: center;
      background: white;
      width: 450px;
      margin: 180px auto;
      padding: 70px 50px;
      border-radius: 5px;
      box-shadow: 0 0 25px rgb(65 83 100 / 50%);
  }
</style>
