<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        {% if page.language == "en" %}
        <h4>Topics:</h4>
        <div class="flex">
          {{ site | tag_cloud }}
        </div>
        {% endif %}
      </div>
      <div class="col-sm-2">
        <img alt="logo" src="https://downloads.filestash.app/brand/logo_footer.svg"/>
      </div>
    </div>
  </div>
</div>

<style>
  #footer {
      clear: both;
      background: #313538;
      color: #f2f3f5;
      padding-top: 80px;
      padding-bottom: 70px;
  }
  #footer h4 {
      font-size: 1.1rem;
      color: inherit;
      margin: 0 0 10px;
  }
  #footer img {
      height: 50px;
      width: 50px;
      margin-top: -5px;
  }
  #footer .flex {
      display: flex;
      flex-wrap: wrap;
  }
  #footer .flex a {
      display: block;
      width: 33.33%;
      color: inherit;
      opacity: 0.7;
      text-transform: uppercase;
      font-size: 0.8rem;
      margin-bottom: 10px;
  }
  #footer .col-sm-2 { text-align: right; }
  @media (max-width: 767px){
      #footer { padding-top: 40px; padding-bottom: 60px; text-align: center; }
      #footer .flex a { width: 50%; }
      #footer .col-sm-2 { margin-top: 30px; text-align: center; }
  }
  @media (max-width: 380px){
      #footer .flex a { width: 100%; }
  }
</style>
