<nav id="nav" class="{{include.context}}">
	<div class="container">

        {% if page.language == 'fr' %}
        <a href="{% link index.fr.html %}" class="logo">
            {% if page.url == "/" %}
            <img alt="logo" src="https://downloads.filestash.app/brand/logo_white.svg">
            {% else %}
            <img alt="logo" src="https://downloads.filestash.app/brand/logo_grey.svg">
            {% endif %}
		</a>
        {% else %}
        <a href="{% link index.html %}" class="logo">
            {% if page.url == "/" %}
            <img alt="logo" src="https://downloads.filestash.app/brand/logo_white.svg">
            {% else %}
            <img alt="logo" src="https://downloads.filestash.app/brand/logo_grey.svg">
            {% endif %}
		</a>
        {% endif %}

		<ul class="nav-links">
		    <li class="hidden-xs">
                {% if page.language == 'fr' %}
                <a href="{% link _docs/index.fr.md %}" {% if page.url contains "/docs" %}class="active"{% endif %}>Documentation</a>
                {% else %}
                <a href="{% link _docs/index.md %}" {% if page.url contains "/docs" %}class="active"{% endif %}>Documentation</a>
                {% endif %}
		    </li>
            <li class="hidden-xs">
                {% if page.language == 'fr' %}
                <a href="{% link pricing.fr.md %}">Prix</a>
                {% else %}
                <a href="{% link pricing.md %}">Pricing</a>
                {% endif %}
		    </li>
            {% if page.url == "/" %}
		    <li><a rel="nofollow" href="https://github.com/mickael-kerjean/filestash" title="GitHub">
			    <svg class="svg-inline svg-inline-large" viewBox="0 0 16 16" version="1.1" aria-hidden="true">
                  <title>Github</title>
                  <path fill="currentColor" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
		    </a></li>
            {% else %}
            <li>
			    <button id="search-btn" title="Search this website">
			      <svg class="svg-inline svg-inline-large" viewBox="0 0 512 512" aria-hidden="true">
                    <title>Search</title>
                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                  </svg>
			    </button>
		    </li>
            {% endif %}

		    <li class="hidden-sm hidden-md hidden-lg">
			    <button id="menu-btn" title="Menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
			        <svg class="svg-inline svg-inline-large" viewBox="0 0 448 512" aria-hidden="true"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
			    </button>
		    </li>
		</ul>

		<div class="nav-search-overlay">
		    <form class="search-input-group" role="search" method="GET" action="/search/">
			    <input id="search-input" name="q" type="search" placeholder="Search" autocomplete="off" autocapitalize="off" spellcheck="false">
		    </form>
		</div>
	</div>
</nav>

<div id="mobile-menu" class="hidden-sm hidden-md hidden-lg container">
	<ul class="menu">
		<li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
		<li><a href="/posts/" {% if page.url contains "/posts" or page.layout == "post" %}class="active"{% endif %}>Blog</a></li>
		{% include docmenu.html %}
        <li><a href="/pricing/" {% if page.url == "/pricing" %}class="active"{% endif %}>Pricing</a></li>
	</ul>
</div>

<style>
  /* MENU */
#nav {
    background: white;
    color: var(--light);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
    font-size: 17px;
    padding: 3px 0;
}
#nav.homepage{
    background: var(--primary);
    color: var(--bg-color);
}
#nav ul.nav-links {
    float: right;
    margin: 0;
    padding: 0;
}
#nav ul.nav-links li {
    float: left;
    list-style: none;
    margin: 0;
}
#nav input,
#nav button {
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    border: 0;
}
#nav a,
#nav li button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-weight: normal;
    color: inherit;
}
#nav a:hover,
#nav a:focus,
#nav a.active,
#nav button:hover,
#nav button:focus {
    color: var(--secondary);
}
#nav .logo {
    line-height: 1;
    margin-left: -10px;
}
#nav .container {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}
#nav .nav-search-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}
#nav .nav-search-overlay.opened {
    opacity: 1;
    visibility: visible;
}
#nav .search-input-group {
    position: relative;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}
#nav .search-input-group button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    text-align: center;
}
#nav .search-input-group input {
    border-bottom: 1px solid white;
    padding: 0;
    padding-right: 20px;
    width: calc(100% - 20px);
    height: 100%;
    color: var(--color);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
#nav .search-input-group input::-moz-placeholder {
    color: #b7c5d1;
    opacity: .5;
}

#nav .search-input-group input::-webkit-input-placeholder {
    color: #b7c5d1;
    opacity: .5;
}

#nav .search-input-group input:-ms-input-placeholder {
    color: #b7c5d1;
    opacity: .5;
}
#nav .logo img {
    padding: 7px 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    vertical-align: middle;
}
</style>
<script>
  (function() {
      // Collapsible menu on mobile
	  const menu = document.getElementById("mobile-menu");
	  const button = document.getElementById("menu-btn");

	  button.addEventListener("click", function(e) {
		  if (button.getAttribute("aria-expanded") === "true") {
			  menu.style.maxHeight = null;
			  button.setAttribute("aria-expanded", "false");
		  } else {
			  // because animating height changes is not trivial, max-height
			  // is used, but we don't want to hardcode the value in css
			  menu.style.maxHeight = menu.scrollHeight + "px";
			  button.setAttribute("aria-expanded", "true");
		  }
		  e.preventDefault();
	  }, false);

      /* SEARCH */
      window.addEventListener("load", function() {
          document.querySelector("#search-btn").onclick = function() {
              LOADJS("/js/jquery.min.js").then(function() {
                  $(".nav-search-overlay")
		              .addClass("opened")
		              .one("transitionend webkitTransitionEnd oTransitionEnd", function () {
                          $("#search-input").focus()
		              });
              });
          }
          window.addEventListener("keyup", function(e) {
              LOADJS("/js/jquery.min.js").then(function() {
                  var shouldClose = false
                  if(e.key === "Escape") shouldClose = true
                  else if($("#search-input").val().length === 0) shouldClose = true
                  if(shouldClose) {
	                  $(".nav-search-overlay")
	                      .removeClass("opened")
	                      .one("transitionend webkitTransitionEnd oTransitionEnd", function () {
	                          $("#search-input").val("").trigger("input");
	                      });
                  }
              });
          });
      })
  })();
</script>
