<style>
  .social-proof { margin: 10px 0 20px 0; }
  .social-proof h3 { text-align: center; font-weight: bold; font-size: 1.1rem; text-transform: uppercase; color: var(--light); margin-top:-50px; }
  .social-proof .flex {  text-align: center; display: flex; justify-content: center; align-items: center; overflow-x: hidden; margin: 10px 0; }
  .social-proof img { width: 240px; height: 50px; filter: grayscale(100) brightness(100) invert(0.5); }

  .technical-resources { display: block; background: var(--bg-color); margin: 20px auto; padding: 20px 20px 10px 20px; color: inherit; text-decoration: none; }
  .technical-resources a { color: var(--color); }
  .technical-resources h3 { font-size: 1.1rem; margin: 0 0 10px 0; color: var(--color); }
  .technical-resources i { display: block; margin-top: 20px; font-style: normal; color: #2b679b; }
  .technical-resources a i:before { content: "> "; }
</style>
