a, a:hover, a:focus{ text-decoration: none; }

/* RESET */
p { line-height: 1.5; }
li { line-height: 1.5; margin: 6px 0; }
img { max-width: 100%; object-fit: contain; }
.radius-top-left{ border-top-left-radius: 4px; }
.radius-top-right{ border-top-right-radius: 4px; }
.radius-bottom-left{ border-bottom-left-radius: 4px; }
.radius-bottom-right{ border-bottom-right-radius: 4px; }
.spacing{ margin: 50px 0;}
pre, code, .terminal{
    background: white;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
}
pre code {
    background: none;
    border: none;
}
code, .terminal {
    font-size: 0.9em;
    padding: 2px 0px;
    word-break: break-word;
}
pre, .terminal {
    font-size: 1em;
    line-height: 1.4;
    padding: 6px 10px;
    -moz-tab-size: 4;
         tab-size: 4;
}
.terminal{
    white-space: nowrap;
    overflow-x: auto;
}

.terminal > span.prompt {
    color: var(--secondary);
}
.terminal > span {
    color: var(--light);
    opacity: 0.5;
}
.terminal span.prompt, .terminal span.stdout { user-select: none; font-size: 0.95em; }

code, kbd, pre, samp, .terminal, #splash .card strong {
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Courier New", monospace;
}
blockquote{
    border-left: 3px solid var(--light);
    margin: 0;
    padding: 5px 0 5px 15px;
    background: white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
blockquote p { margin: 0; }

/* MENU */
#nav {
    background: white;
    color: var(--light);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
    font-size: 17px;
    padding: 3px 0;
}
#nav.homepage{
    background: var(--primary);
    color: var(--bg-color);
}
#nav ul.nav-links {
    float: right;
    margin: 0;
    padding: 0;
}
#nav ul.nav-links li {
    float: left;
    list-style: none;
    margin: 0;
}
#nav input,
#nav button {
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    border: 0;
}
#nav a,
#nav li button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-weight: normal;
    color: inherit;
}
#nav a:hover,
#nav a:focus,
#nav a.active,
#nav button:hover,
#nav button:focus {
    color: var(--color);
}
#nav .logo {
    line-height: 1;
    margin-left: -10px;
}
#nav .container {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}
#nav .nav-search-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}
#nav .nav-search-overlay.opened {
    opacity: 1;
    visibility: visible;
}
#nav .search-input-group {
    position: relative;
    margin-top: 10px;
    height: 30px;
    width: 100%;
}
#nav .search-input-group button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    text-align: center;
}
#nav .search-input-group input {
    border-bottom: 1px solid white;
    padding: 0;
    padding-right: 20px;
    width: calc(100% - 20px);
    height: 100%;
    color: var(--color);
}

#nav .search-input-group input::-moz-placeholder {
    color: #b7c5d1;
    opacity: .5;
}

#nav .search-input-group input::-webkit-input-placeholder {
    color: #b7c5d1;
    opacity: .5;
}

#nav .search-input-group input:-ms-input-placeholder {
    color: #b7c5d1;
    opacity: .5;
}
#nav .logo img {
    height: 100%;
    padding: 7px 0;
}

#main #desktop-menu ul {
    margin-top: 10px;
    padding-left: 0;
}
#main #desktop-menu a {
    text-decoration: none;
}
#main #markdown-toc a{
    text-decoration: none;
}
.menu {
    padding-left: 0;
    list-style: none;
    color: var(--light);
}
.menu li {
    margin: 0;
}
.menu a {
    color: inherit;
    font-weight: normal;
    display: block;
    padding: 5px 0;
}
.menu a:hover,
.menu a.active {
    color: var(--emphasis-secondary);
}

#mobile-menu {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
}


/*****************************
/*******   CONTENT    ********
/*****************************/
#main { margin-top: 30px; margin-bottom: 60px; min-height: calc(100vh - 260px); }

#main h1 {
    font-size: 2.4rem;
    line-height: 40px;
    color: var(--secondary);
}
#main h2 {
    color: var(--secondary);
    padding-top: 10px;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}
#main h3 {
    margin-bottom: 13px;
}
#main p {
    word-spacing: -1px;
    text-align: justify;
}
#main a {
    text-decoration: underline;
}
#main ol, #main ul {
    margin-top: -10px;
    padding-left: 20px;
}
#main p img{ display: block; }


/*****************************
/*******   SEARCH    *********
/*****************************/
#search-results {
    display: none;
    min-height: calc(100vh - 50px);
}
#search-results ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


/* Contribute banner */
#contribute {
    opacity: 0.8;
    color: var(--light);
}
#contribute hr{
    margin-top: 50px;
    margin-bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.1)
}


/*****************************
/*******   FOOTER    *********
/*****************************/
#docfooter {
    color: #5f7991;
    font-size: 13px;
}
#docfooter a {
    color: inherit;
}
#docfooter p {
    margin: 0;
    line-height: 20px;
}
#docfooter hr {
    margin: 0 15px 10px;
}


#footer {
    clear: both;
    background: #313538;
    color: #f2f3f5;
    padding: 80px 50px 70px;
    text-align: right;
}
#footer img {
    height: 50px;
}

/*****************************
/*******   ALERT     *********
/*****************************/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info a {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning a {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger a {
    color: #843534;
}
.alert p:last-child {
    margin-bottom: 0;
}


/* BUTTON */
.btn {
    text-decoration: none!important;
    border: 2px solid var(--secondary);
    border-radius: 3px;
    color: var(--secondary);
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 9px 17px;
    text-transform: uppercase;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
    word-spacing: 3px;
    cursor: pointer; /* This is useful for `<button>` elements */
}
.btn:disabled,
.btn:hover,
.btn:focus {
    background: var(--secondary);
    color: var(--bg-color);
    opacity: 1;
}
.btn:active {
    box-shadow: none;
    opacity: 0.8;
}
.nopadding{ padding: 0; }

/*
 * SVG icon styles
 */
.svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    vertical-align: -.125em;
}
.svg-inline-large {
    vertical-align: -.24em;
    font-size: 1.4em;
}

/* Code syntax highlight */
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #444444;
}
.highlight .cp {
  color: #CC00A3;
}
.highlight .cs {
  color: #CC00A3;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1 {
  color: #FF0000;
}
.highlight .kc {
  color: #C34E00;
}
.highlight .kd {
  color: #0000FF;
}
.highlight .kr {
  color: #007575;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv {
  color: #0000FF;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #009C00;
}
.highlight .nb, .highlight .bp {
  color: #C34E00;
}

/* Anchor */
a.link-anchor {
    padding-right: 10px;
    position: absolute;
    margin-left: -30px;
}
h2 a.link-anchor,
h3 a.link-anchor {
    color: inherit;
    opacity: 0;
    transition: opacity .2s;
}

h2:hover a.link-anchor,
h3:hover a.link-anchor {
    opacity: .7;
}

/* Video embeds */
.video-preview {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

p[align="center"]{
    text-align: center!important;
}

img.fancy {
    border: 9px solid #0000001a;
    border-radius: 5px;
    box-shadow: rgba(158, 163, 172, 0.3) 3px 3px 20px;
}
