<script>
 window.intergramId = "1346448190";
 window.intergramServer = "https://chat.filestash.app";
 window.intergramCustomizations = {
     titleClosed: "Support",
     titleOpen: "Support",
     introMessage: "Hi there! How can we help you today?",
     autoResponse: "connecting ...",
     autoNoResponse: "It seems we don\'t have anyone available right now. Please send an email to mickael@kerjean.me",
     mainColor: "#375160",
     alwaysUseFloatingButton: true
 };
</script>
<script id="intergram" type="text/javascript" src="https://chat.filestash.app/js/widget.js"></script>
