---
title: Web FTP | Le client FTP en ligne
description: Explorez, naviguez et partagez vos documents depuis votre navigateur avec notre client FTP en ligne
layout: landing
permalink: /fr/client-web-ftp-en-ligne.html
language: fr
head:
  - <link rel="alternate" href="/online-ftp-client.html" hreflang="en" />
---

<link rel="stylesheet" href="/css/landing-page.css">
<link rel="stylesheet" href="/css/landing-page-login.css">

<div id="splash" class="nopadding">
  <div class="row">
    <div class="col-sm-12">
      <div class="hgroup">
        <h1>Web FTP | Le client <a href="https://fr.wikipedia.org/wiki/File_Transfer_Protocol">FTP</a> en ligne</h1>
      </div>
      <form onsubmit='$("form input[type=\"submit\"]").attr("value", "LOADING...")' action="https://demo.filestash.app/login" method="GET">
        <input type="hidden" name="type" value="ftp" />
        <label>
          <span>Nom d'hôte:</span><input type="text" name="hostname" placeholder="Addresse IP ou domaine du server" required/>
        </label>
        <label>
          <span>Nom utilisateur:</span><input default="anonymous" type="text" name="username" placeholder="Default: anonymous"/>
        </label>
        <label>
          <span>Password:</span><input type="password" name="password" />
        </label>
        <label>
          <span>Port:</span><input type="text" name="port" placeholder="Default: 21"/>
        </label>
        <input type="submit" value="Connection" />
      </form>

      <script>
        function clickPublicFTPHandler(e){
            e.preventDefault();
            document.querySelector("form input[name='hostname']").value = e.target.text;
            document.querySelector("form input[type='submit']").click()
        }
      </script>
      <p class="example">
        Exemples de serveurs FTP actuellement en ligne: <br>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.gnu.org/">ftp.gnu.org</a>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.pureftpd.org/">ftp.pureftpd.org</a>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.vim.org/pub/">ftp.vim.org</a>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.slackware.com/">ftp.slackware.com</a>
        <br>
        Ou inscrivez-vous à l'un de ces services gratuits:<br>
        <a href="https://byet.host/free-hosting/news">Byet.host</a>
        <a href="https://infinityfree.net/">Infinityfree.net</a>
        <a href="https://www.000webhost.com">000webhost.com</a>
        <a href="https://profreehost.com/">profreehost.com</a>
      </p>
    </div>
  </div>
  {% include share.html %}
</div>
<div class="waveshape"></div>


<div id="features" style="padding-bottom:0">
  <div class="container">
    <div class="row features main">
      
      <div class="feature">
        <img alt="screenshot of Filestash when uploading" class="lazy fancy pull-left hidden-xs" data-src="/img/screenshots/feature1.png" style="margin-top: -30px;" />
        <h2>Accès à votre serveur FTP en ligne</h2>
        <p>
          Notre client FTP en ligne est facile à utiliser. Il est compatible avec des serveurs comme <a href="http://www.proftpd.org/">proftpd</a>, <a href="https://www.pureftpd.org/project/pure-ftpd/">pureftpd</a>, <a href="https://filezilla-project.org/">filezilla</a>, <a href="https://security.appspot.com/vsftpd.html">vsftpd</a> et tous les autres serveur FTP offrant une <a href="https://tools.ietf.org/html/rfc959">interface FTP</a>.
        </p>
        <img alt="screenshot of Filestash when uploading" class="lazy fancy visible-xs" data-src="/img/screenshots/feature1.png" />
      </div>

      <div class="feature">
        <img alt="screenshot of the text editor" class="lazy fancy pull-right hidden-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.1.png" />
        <h2>Éditeur de contenu</h2>
        <p>
          L'éditeur FTP intégré vous permet de modifier directement vos fichiers en ligne. Il reconnait un large éventail de type de fichier.
        </p>
        <img alt="screenshot of the text editor" class="lazy fancy visible-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.1.png" />
      </div>

      <div class="feature">
        <img alt="agpl logo" class="lazy fancy pull-left hidden-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.2.png" />
        <h2>Logiciel libre et open source</h2>
        <p>
          Filestash est 100% open source. Le code est disponible sur <a href="https://github.com/mickael-kerjean/filestash">github</a>. Allez faire un tour et héberger votre propre version (voir la <a href="/docs">documentation</a>).
        </p>
        <img alt="agpl logo" class="lazy fancy visible-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.2.png" />
      </div>

      <div class="feature">
        <img alt="logo of the 3 main operating system" class="lazy fancy pull-right hidden-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.4.png" />
        <h2>Mac, Windows and Linux</h2>
        <p>
          Notre outil est disponible sous la forme d'une application web en ligne ce qui vous donne la portabilité ultime sans avoir à installer quoi que ce soit.
        </p>
        <img alt="logo of the 3 main operating system" class="lazy fancy visible-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.4.png" />
      </div>

      <div class="feature">
        <img alt="illustration of the shared link screen" class="lazy fancy pull-left hidden-xs" data-src="/img/screenshots/feature_share_0000.png" />
        <h2>Partage de fichiers et recherche</h2>
        <p>
          Vous pouvez facilement faire des liens partagés en toute sécurité. De plus, le moteur de recherche vous permet de trouver facilement vos données.
        </p>
        <img alt="illustration of the shared link screen" class="lazy fancy visible-xs" data-src="/img/screenshots/feature_share_0000.png" />
      </div>

      <div class="feature">
        <img alt="illustration of the shared link screen" class="lazy fancy pull-right hidden-xs" data-src="/img/screenshots/viewerpage.png" />
        <h2>Mettre votre FTP sur le web</h2>
        <p>
          Vous pouvez partagé vos données directement sur votre site via une iframe avec un lien de partage comme nous l'avons fait dans notre <a href="/">page d'accueil</a>
        </p>
        <img alt="illustration of the shared link screen" class="lazy fancy visible-xs" data-src="/img/screenshots/feature_share_0000.png" />
      </div>

      <div class="feature">
        <img alt="illustration of the online behavior" class="lazy fancy pull-left hidden-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.5.png" />
        <h2>En ligne et hors ligne</h2>
        <p>
          Filestash est un PWA, ce qui signifie qu'il fonctionne non seulement très bien en ligne mais qu'il possède également certaines fonctionnalités pour une utilisation hors ligne.
        </p>
        <img alt="illustration of the online behavior" class="lazy fancy visible-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.5.png" />
      </div>

      <div class="feature">
        <img alt="webdav integration" class="lazy fancy pull-right hidden-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.3.png" />
        <h2>S'intègre à votre gestionnaire de fichiers</h2>
        <p>
          Filestash s'intègre à votre gestionnaire de fichiers natif via le protocole Webdav
        </p>
        <img alt="webdav integration" class="lazy fancy visible-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.3.png" />
      </div>

      <div class="feature">
        <img alt="plugin illustration" class="lazy fancy pull-left hidden-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.6.png" />
        <h2>S'étend en fonction de vos besoins</h2>
        <p>
          Notre outil comporte un mécanisme de plugin permettant de faire des extensions. Si cela vous interesse, allez voir la <a href="/docs/plugin/">documentation</a>
        </p>
        <img alt="plugin illustration" class="lazy fancy visible-xs" data-src="/img/posts/2019-08-20-ftp-web-client.html.6.png" />
      </div>

    </div>

    <h2 style="margin-top:0;">Notre objectif: developper le meilleur client FTP</h2>
    <p>
      Les clients FTP traditionnels tels que <a href="https://filezilla-project.org/">Filezilla FTP</a> or <a href="https://winscp.net/eng/index.php">WinSCP</a> sont très bien pour les administrateur système et cela les rends difficile à utiliser pour le reste du monde. Filestash s'attache a rendre FTP aussi <strong>facile à utiliser</strong> que Dropbox tous <a href="https://www.zdnet.fr/actualites/dropbox-edward-snowden-en-deconseille-l-utilisation-39804029.htm">en respectant votre vie privée</a>.
    </p>
    <br><br><br><br><br><br><br><br><br><br>
  </div>

  <div class="call-to-action slant up">
    <h2>Nous avons d'autres clients en ligne:</h2>
    <a class="btn" href="{% post_url 2019-11-21-s3-browser %}">S3</a>
    <a class="btn" href="{% post_url 2020-01-04-ldap-browser %}">LDAP</a>
    <a class="btn" href="{% post_url 2020-04-30-sftp-browser %}">SFTP</a>
    <a class="btn" href="https://demo.filestash.app/login">Webdav</a>
    <a class="btn" href="https://demo.filestash.app/login">GIT</a>
  </div>

</div>

{% include support.html %}
