---
title: FTP Online | The best web client for FTP
description: Access and manage your FTP server directly from your browser with our online FTP client
layout: landing
permalink: /online-ftp-client.html
tags: ftp oem online-client tool
redirect_from:
  - /ftp-client.html
  - /2020/02/11/demystifying-ftp/
language: en
head:
  - <link rel="alternate" href="https://www.filestash.app/online-ftp-client.html" hreflang="en" />
  - <link rel="alternate" href="https://www.filestash.app/fr/client-web-ftp-en-ligne.html" hreflang="fr" />
  - <link rel="alternate" href="https://www.filestash.app/de/ftp-online-client.html" hreflang="de" />
  - <link rel="alternate" href="https://www.filestash.app/es/client-ftp-online.html" hreflang="es" />
  - <link rel="alternate" href="https://www.filestash.app/it/client-ftp-online.html" hreflang="it" />
  - <link rel="alternate" href="https://www.filestash.app/pt/cliente-ftp-online.html" hreflang="pt" />
---

<link rel="stylesheet" href="/css/landing-page.css">
<link rel="stylesheet" href="/css/landing-page-login.css">

<div id="splash" class="nopadding">
  <div class="row">
    <div class="col-sm-12">
      <div class="hgroup">
        <h1><a href="{% post_url 2021-07-27-getting-started-with-a-ftp-server %}">FTP</a> Online; The web-based FTP client that rocks!</h1>
      </div>
      <form onsubmit='$("#splash form input[type=\"submit\"]").attr("value", "LOADING...")' action="https://demo.filestash.app/login" method="GET">
        <input type="hidden" name="type" value="ftp" />
        <label>
          <span>Hostname:</span><input type="text" name="hostname" placeholder="IP address of your server" required/>
        </label>
        <label>
          <span>Username:</span><input default="anonymous" type="text" name="username" placeholder="Default: anonymous"/>
        </label>
        <label>
          <span>Password:</span><input type="password" name="password" />
        </label>
        <label>
          <span>Port:</span><input type="text" name="port" placeholder="Default: 21"/>
        </label>
        <input type="submit" class="btn" value="Connect" />
      </form>

      <script>
        function clickPublicFTPHandler(e){
            e.preventDefault();
            document.querySelector("#splash form input[name='hostname']").value = e.target.text;
            document.querySelector("#splash form").submit()
        }
      </script>
      <p class="example">
        Example of <a href="{% post_url 2020-07-08-free-ftp-server-online %}">free FTP server</a>:<br>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.gnu.org/">ftp.gnu.org</a>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.pureftpd.org/">ftp.pureftpd.org</a>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.vim.org/pub/">ftp.vim.org</a>
        <a rel="nofollow noopener" onclick="clickPublicFTPHandler(event);" href="ftp://ftp.slackware.com/">ftp.slackware.com</a>
      </p>
    </div>
  </div>
  {% include share.html %}
  <div class="container">
    <div id="oem">
      <span>
        Filestash can be tailored with your company colors and logo, integrating with your corporate single signed on. We will go the extra mile to fullfil your needs and requirements for customisation
      </span>
      <a href="/pricing/?modal=enterprise" class="btn">Chat with us</a>
    </div>
  </div>
</div>
<div class="waveshape"></div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "FTP Client",
  "applicationCategory": "WebApplication",
  "operatingSystem": "Any",
  "description": "Access and manage your FTP server directly from your browser with our online FTP client",
  "url": "https://www.filestash.app/online-ftp-client.html",
  "screenshot": [
    "https://www.filestash.app/img/screenshots/viewerpage.png",
    "https://www.filestash.app/img/screenshots/feature1.png"
  ],
  "featureList": [
    "file manager like operation to your FTP server",
    "Direct file upload and download",
    "Easy navigation and file management",
    "Application viewers and document editor for all your files",
    "Extensible via plugins"
  ]
}
</script>


<div id="features" style="padding-bottom:0;">
  <div class="container large">
    <div class="row features main">

      <div class="feature">
        <img alt="screenshot of Filestash when uploading" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature1.png" />
        <h2>Explore and Manage your FTP server</h2>
        <p>
          Our <strong>web FTP</strong> client make it easy to manage and explore the data on your server. It will work with any <a href="https://tools.ietf.org/html/rfc959">FTP compliant server</a> such as <a href="http://www.proftpd.org/">Proftpd</a>, <a href="https://www.pureftpd.org/project/pure-ftpd/">Pureftpd</a>, <a href="https://filezilla-project.org/">Filezilla</a>, <a href="https://security.appspot.com/vsftpd.html">Vsftpd</a>, ...
        </p>
        <img alt="screenshot of Filestash when uploading" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature1.png" />
      </div>

      <div class="feature">
        <img alt="screenshot of the text editor" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.1.png" />
        <h2>Content editor and viewer</h2>
        <p>
          Watch your videos or images, the integrated FTP editor let you view and edit not only office document but also a wide range of file format and more
        </p>
        <img alt="screenshot of the text editor" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.1.png" />
      </div>

      <div class="feature">
        <img alt="search screenshot" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/search.png" />
        <h2>FTP Search</h2>
        <p>
          It's never been that easy to search something on your FTP server. Get the full power of search in the cloud or on premise with full text search and additional settings to fit your usage
        </p>
        <img alt="search screenshot" loading="lazy" class="fancy visible-xs" src="/img/screenshots/search.png" />
      </div>

      <div class="feature">
        <img alt="logo of the 3 main operating system" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.4.png" />
        <h2>Mac, Windows and Linux</h2>
        <p>
          Our software tool is available as a web application from your browser giving your the ultimate portability without having to install anything. It works best with Chrome, Chromium and Firefox.
        </p>
        <img alt="logo of the 3 main operating system" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.4.png" />
      </div>

      <div class="feature">
        <img alt="illustration of the shared link screen" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature_share_0000.png" />
        <h2>File Sharing and full-text search</h2>
        <p>
          Collaborate with shared link that stay under strict control. The full-text search engine make it easy to find your existing content.
        </p>
        <img alt="illustration of the shared link screen" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_share_0000.png" />
      </div>

      <div class="feature">
        <img alt="illustration of the shared link screen" loading="lazy" class="fancy pull-right hidden-xs" src="/img/screenshots/viewerpage.png" />
        <h2>Expose your FTP on the web</h2>
        <p>
          Get your users the interface they deserved and integrate either through an iframe or with a custom page like this page
        </p>
        <img alt="illustration of the shared link screen" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_share_0000.png" />
      </div>

      <div class="feature">
        <img alt="illustration of the online behavior" loading="lazy" class="fancy pull-left hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.5.png" />
        <h2>Online and offline</h2>
        <p>
          As a PWA, Filestash not only work great online but also goes to great length to provide some basic functionalities for offline usage
        </p>
        <img alt="illustration of the online behavior" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.5.png" />
      </div>

      <div class="feature">
        <img alt="webdav integration" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.3.png" />
        <h2>Integrates with your file manager</h2>
        <p>
          Shared links integrates with your file manager. They can be used as a network drive under windows, OSX or Linux. Those links are full fledge WebDAV server that ties onto your FTP
        </p>
        <img alt="webdav integration" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.3.png" />
      </div>

      <div class="feature">
        <img alt="plugin illustration" loading="lazy" class="fancy pull-left hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.6.png" />
        <h2>Extensible </h2>
        <p>
          Our <strong>web FTP tool</strong> can be entirely customised. It can be white labelled and extended through the plugin mechanism to fit your needs and processes with a lot of flexibility
        </p>
        <img alt="plugin illustration" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.6.png" />
      </div>

      <div class="feature">
        <img alt="agpl logo" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.2.png" />
        <h2>Open source and Free Software</h2>
        <p>
          Filestash is open source software. Our code is available from <a href="https://github.com/mickael-kerjean/filestash">Github</a> so you can audit, expand and self host your own version (see the <a href="{% link _docs/index.md %}">documentation</a>).
        </p>
        <img alt="agpl logo" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.2.png" />
      </div>


    </div>

    <h2 style="margin-top:0;">Creating an awesome Web FTP client</h2>
    <p>
      Traditional FTP clients such as <a href="https://filezilla-project.org/">Filezilla FTP</a> or <a href="https://winscp.net/eng/index.php">WinSCP</a> are great for sysadmin and engineers but all your users might not be familiar with the underlying protocol and just want a tool to get things done im a simple manner. The value proposition of Filestash is to make FTP <strong>easy to use</strong> for your <strong>end-users</strong>, bringing collaboration features to make FTP a modern replacement to <a href="https://www.theguardian.com/technology/2014/jul/17/edward-snowden-dropbox-privacy-spideroak">Dropbox</a>.
    </p>
    <br><br><br><br>
  </div>

  <div class="container" id="faq" data-nosnippet>
    <h2 style="margin-top:0;">FTP FAQ</h2>
    <h3>What does FTP stand for?</h3>
    <p>
      FTP stands for "File Transfer Protocol"
    </p>
    <h3>What is the FTP Protocol?</h3>
    <p>
      FTP is a protocol that defines how two machines (known as the client and the server) can communicate over a network to transfer files. It has been defined in many different <a href="https://en.wikipedia.org/wiki/File_Transfer_Protocol#History_of_FTP_servers">RFCs</a>
    </p>
    <h3>What is FTP used for?</h3>
    <p>
      FTP is used to transfer files over a network
    </p>
    <h3>What is a FTP server?</h3>
    <p>
      An FTP server is a server software that implements the FTP protocol (example: <a href="https://www.pureftpd.org/project/pure-ftpd/">PureFTPd</a>, <a href="http://bftpd.sourceforge.net/">bftpd</a>, <a href="http://proftpd.org/">proFTPd</a>, <a href="https://filezilla-project.org/download.php?type=server">Filezilla server</a>, ...). It is used to enable the sharing of files between different parties over a network.
    </p>
    <h3>What is a FTP client?</h3>
    <p>
      An FTP client is a software that can be used to access an FTP server. Example: <a href="https://filezilla-project.org/">Filezilla FTP</a>, <a href="{% post_url 2019-11-26-ftp-web-client %}">Filestash</a>, <a href="https://cyberduck.io/">Cyberduck</a>, ...
    </p>
    <h3>Who invented FTP?</h3>
    <p>
      FTP was invented by <a href="https://en.wikipedia.org/wiki/Abhay_Bhushan">Abhay Bhushan</a> while he was a student at MIT.
    </p>
    <h3>When was FTP invented?</h3>
    <p>
      The <a href="https://tools.ietf.org/html/rfc114">original specification of FTP</a> was published the 16 April 1971 and was revisited several times in the 1980s, 1990s and 2000s.
    </p>
    <h3>What does FTP do?</h3>
    <p>
      FTP is a means by which two machines can transfer files over a network.
    </p>
    <h3>Is FTP dead?</h3>
    <p>
      No, FTP is alive and well. If we account only for the visible side of the iceberg, there are about as many FTP servers exposed to the internet as the entire population of Switzerland.
    </p>
    <h3>Is FTP unsecure?</h3>
    <p>
      While it is true that FTP wasn't initially created with security in mind, the protocol got refined in 2005 to support TLS with <a href="https://tools.ietf.org/html/rfc4217">RFC4217</a>
    </p>
    <h3>Is FTP outdated?</h3>
    <p>
      Being invented <a href="https://en.wikipedia.org/wiki/File_Transfer_Protocol">18 years before Time Berners Lee invented HTTP</a>, FTP has passed the test of time. In 2020, there's still millions of FTP servers exposed to the internet and all popular FTP servers are still being actively maintained
    </p>
    <h3>Is FTP bulky?</h3>
    <p>
      No. In fact, FTP was created at a time where nobody could afford the hardware to run anything bulky.
    </p>
    <h3>Is FTP hard to use?</h3>
    <p>
      Not necessarily. FTP is a protocol, not an end-user application. On the many software available for FTP, some are harder to use than other ones. <a href="{% post_url 2019-11-26-ftp-web-client %}">Filestash</a> is quite easy to use
    </p>
    <h3>Which FTP server to choose?</h3>
    <p>
      Out of the millions of FTP server exposed to the internet, the most popular server software are:
      <ol>
        <li><a href="https://www.pureftpd.org/project/pure-ftpd/">PureFTPd</a> with 26% of market share</li>
        <li><a href="http://bftpd.sourceforge.net/">Bftpd</a> with 9% of market share</li>
        <li>Microsoft FTPD with 9% of market share</li>
        <li><a href="http://proftpd.org/">proFTPd</a> with 7% of market share</li>
      </ol>
    </p>
    <h3>Which FTP client to use?</h3>
    <p>
      FTP clients are available in 2 flavors:
      <ol>
        <li> desktop application: <a href="https://filezilla-project.org/">Filezilla FTP</a>, <a href="https://cyberduck.io/">Cyberduck</a>, ...</li>
        <li>web application: <a href="#splash">Filestash</a>, ...</li>
      </ol>
    </p>
    <script type="application/ld+json">
     {

         "@context": "https://schema.org",
         "@type": "FAQPage",
         "mainEntity": [
             {
                 "@type": "Question",
                 "name": "What does FTP stand for?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "FTP stands for \"File Transfer Protocol\""
                 }
             },
             {
                 "@type": "Question",
                 "name": "What is the FTP Protocol?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "FTP is a protocol that defines how two machines (known as the client and the server) can communicate over a network to transfer files. It has been defined in many different RFCs"
                 }
             },
             {
                 "@type": "Question",
                 "name": "What is FTP used for?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "FTP is used to transfer files over a network"
                 }
             },
             {
                 "@type": "Question",
                 "name": "What is a FTP server?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "An FTP server is a server software that implements the FTP protocol (example: PureFTPd, bftpd, proFTPd, Filezilla server, ...). It is used to enable the sharing of files between different parties over a network."
                 }
             },
             {
                 "@type": "Question",
                 "name": "What is a FTP client?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "An FTP client is a software that can be used to access an FTP server. Example: Filezilla FTP, Filestash, Cyberduck, ..."
                 }
             },
             {
                 "@type": "Question",
                 "name": "Who invented FTP?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "FTP was invented by Abhay Bhushan while he was a student at MIT."
                 }
             },
             {
                 "@type": "Question",
                 "name": "When was FTP invented?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "The original specification of FTP was published the 16 April 1971 and was revisited several times in the 1980s, 1990s and 2000s."
                 }
             },
             {
                 "@type": "Question",
                 "name": "What does FTP do?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "FTP is a means by which two machines can transfer files over a network."
                 }
             },
             {
                 "@type": "Question",
                 "name": "Is FTP dead?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "No, FTP is alive and well. If we account only for the visible side of the iceberg, there are about as many FTP servers exposed to the internet as the entire population of Switzerland."
                 }
             },
             {
                 "@type": "Question",
                 "name": "Is FTP unsecure?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "While it is true that FTP wasn't initially created with security in mind, the protocol got refined in 2005 to support TLS with RFC4217"
                 }
             },
             {
                 "@type": "Question",
                 "name": "Is FTP outdated?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "Being invented 18 years before Time Berners Lee invented HTTP, FTP has passed the test of time. In 2020, there's still millions of FTP servers exposed to the internet and all popular FTP servers are still being actively maintained"
                 }
             },
             {
                 "@type": "Question",
                 "name": "Is FTP bulky?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "No. In fact, FTP was created at a time where nobody could afford the hardware to run anything bulky."
                 }
             },
             {
                 "@type": "Question",
                 "name": "Is FTP hard to use?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "Not necessarily. FTP is a protocol, not an end-user application. On the many software available for FTP, some are harder to use than other ones. Filestash is quite easy to use"
                 }
             },
             {
                 "@type": "Question",
                 "name": "Which FTP server to choose?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "Out of the millions of FTP server exposed to the internet, the most popular server software are PureFTPd (26% of market share), Bftpd (9% of market share), Microsoft FTPD (9% of market share) and proFTPd (7% of market share)."
                 }
             },
             {
                 "@type": "Question",
                 "name": "Which FTP client to use?",
                 "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "FTP clients are available in 2 flavors, desktop applications like Filezilla FTP and Cyberduck and web application like Filestash"
                 }
             }
         ]
     }
    </script>

  </div>

  <br><br><br><br><br><br>

  <div class="call-to-action">
    <h2>Check our other online tools:</h2>
    <a class="btn light" href="{% post_url 2020-08-04-ftp-testing-tool %}">FTP Test</a>
    <a class="btn light" href="{% post_url 2019-11-21-s3-browser %}">S3</a>
    <a class="btn light" href="{% post_url 2020-01-04-ldap-browser %}">LDAP</a>
    <a class="btn light" href="{% post_url 2020-04-30-sftp-browser %}">SFTP</a>
    <a class="btn light" href="{% post_url 2021-10-18-webdav-client %}">WebDAV</a>
  </div>

</div>

<script>
  // deep links to login in some anonymous server
  (function(){
      if(/#connect=/.test(location.hash) == false) return;
      document.querySelector("#splash form input[name='hostname']").value = location.hash.replace("#connect=", "");
      document.querySelector("#splash form input[type='submit']").click()
  })()
</script>
{% include filestash-demo-dependency.html %}
