---
title: S3 Browser | Le meilleur client S3 en ligne
description: Gérez vos données dans le cloud avec notre client S3 en ligne. L'outil parfait pour naviguer et manipuler vos buckets S3 depuis votre browser.
layout: landing
permalink: /fr/s3-browser.html
language: en
tags: s3 oem online-client tool
head:
  - <link rel="alternate" href="https://www.filestash.app/fr/s3-browser.html" hreflang="fr" />
  - <link rel="alternate" href="https://www.filestash.app/s3-browser.html" hreflang="en" />
---

<link rel="stylesheet" href="/css/landing-page.css">
<link rel="stylesheet" href="/css/landing-page-login.css">

<div id="splash" class="nopadding">
  <div class="row">
    <div class="col-sm-12">
      <div class="hgroup">
        <h1 style="font-size: 2.1rem;">Navigateur de fichier S3</h1>
        <h2 style="display:block;font-size:1.3rem;height:inherit;">Un client S3 qui transforme vos <a style="color:inherit" href="https://aws.amazon.com/s3/">buckets S3</a> en explorateur de fichiers en ligne</h2>
      </div>
      <form onsubmit='$("form input[type=\"submit\"]").attr("value", "LOADING...")' action="https://demo.filestash.app/login" method="GET">
        <input type="hidden" name="type" value="s3" />
        <label>
          <span>Access Key ID:</span><input type="text" name="access_key_id" placeholder="Access Key ID*" required/>
        </label>
        <label>
          <span>Secret Access Key:</span><input type="text" name="secret_access_key" placeholder="Secret Access Key*" required/>
        </label>
        <label>
          <span>Région:</span><select name="region">
            <option name="us-east-2" default>us-east-2</option>
            <option name="us-east-1">us-east-1</option>
            <option name="us-west-1">us-west-1</option>
            <option name="us-west-2">us-west-2</option>
            <option name="ap-east-1">ap-east-1</option>
            <option name="ap-south-1">ap-south-1</option>
            <option name="ap-northeast-3">ap-northeast-3</option>
            <option name="ap-northeast-2">ap-northeast-2</option>
            <option name="ap-southeast-1">ap-southeast-1</option>
            <option name="ap-southeast-2">ap-southeast-2</option>
            <option name="ap-northeast-1">ap-northeast-1</option>
            <option name="ca-central-1">ca-central-1</option>
            <option name="cn-north-1">cn-north-1</option>
            <option name="cn-northwest-1">cn-northwest-1</option>
            <option name="eu-central-1">eu-central-1</option>
            <option name="eu-west-1">eu-west-1</option>
            <option name="eu-west-2">eu-west-2</option>
            <option name="eu-west-3">eu-west-3</option>
            <option name="eu-north-1">eu-north-1</option>
            <option name="me-south-1">me-south-1</option>
            <option name="sa-east-1">sa-east-1</option>
            <option name="us-gov-east-1">us-gov-east-1</option>
            <option name="us-gov-west-1">us-gov-west-1</option>
          </select>
        </label>
        <fieldset>
          <legend onclick="toggleExpand()"><i style="transform: scale(0.6) rotate(45deg);margin-right:5px" class="arrow down"></i>Avancé</legend>
          <div class="fieldset-content" style="display:none;">
            <label>
              <span>Clé de chiffrement:</span><input type="text" name="encryption_key" placeholder="Encryption Key" />
            </label>
            <label>
              <span>URL d'instance:</span><input type="text" name="endpoint" placeholder="Endpoint"/>
            </label>
          </div>
        </fieldset>
        <script>
          function toggleExpand() {
              LOADJS("/js/jquery.min.js").then(function(){
                  $('form fieldset .fieldset-content').slideToggle(300)
              });
          }
        </script>

        <input type="submit" value="Connecter" class="btn" />
      </form>
      <script>
        function clickPublicS3Handler(e, data){
            e.preventDefault();
            for(var key in data){
                document.querySelector("form [name='"+key+"']").value = data[key]
            }
            document.querySelector("form input[type='submit']").click()
        }
      </script>


      <p class="example">
        Connectez-vous avec vos <a href="{% post_url 2020-05-03-how-to-get-aws-keys %}">clés S3</a> ou utilisez un logiciel compatible Amazon S3 comme <br> <a onclick="clickPublicS3Handler(event, {access_key_id: 'Q3AM3UQ867SPQQA43P2F', secret_access_key: 'zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG', endpoint: 'https://play.minio.io:9000/'});" href="https://play.minio.io:9000/">le playground minio</a>
      </p>
    </div>
  </div>
  {% include share.html %}
  <div class="container">
    <div id="oem">
      <span>
        Vous voulez une solution clé en main pour S3 ? De l'intégration SSO au white label pour vos clients, en passant par le support et le déploiement d'entreprise, nous pouvons vous aider
      </span>
      <a href="/pricing/?modal=enterprise" class="btn">Contactez nous</a>
    </div>
  </div>
</div>
<div class="waveshape"></div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "S3 Browser",
  "applicationCategory": "WebApplication",
  "operatingSystem": "Any",
  "description": "Gérez vos données dans le cloud avec notre client S3 en ligne. L'outil parfait pour naviguer et manipuler vos buckets S3 depuis votre browser.",
  "url": "https://www.filestash.app/fr/s3-browser.html",
  "screenshot": [
    "https://www.filestash.app/img/screenshots/viewerpage.png",
    "https://www.filestash.app/img/screenshots/feature1.png"
  ],
  "featureList": [
    "Un gestionnaire de fichiers comme si vous étiez en local",
    "Téléchargement et envoi de vos fichiers sur S3",
    "Navigation et gestion faciles de vos buckets S3",
    "Visualisation et édition de vos documents directement sur S3",
    "Extensible via des plugins"
  ],
  "offers": {
    "@type": "Offer",
    "priceCurrency": "USD",
    "price": "0.1"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "ratingCount": "9347"
  },
  "interactionStatistic": [
    {
      "@type": "InteractionCounter",
      "interactionType": "https://schema.org/LikeAction",
      "userInteractionCount": 9314,
      "description": "GitHub stars - https://github.com/mickael-kerjean/filestash"
    },
    {
      "@type": "InteractionCounter",
      "interactionType": "https://schema.org/LikeAction",
      "userInteractionCount": 31,
      "description": "source: https://alternativeto.net/software/nuage-app/"
    }
  ],
  "review": [
    {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "author": {
        "@type": "Person",
        "name": "Chris Meng"
      }
    },
    {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "author": {
        "@type": "Person",
        "name": "David Carrillo Jr"
      }
    }
  ]
}
</script>

<p class="center" style="font-weight: bold; text-transform: uppercase; color: var(--light);margin-top:-50px;">Ils utilisent Filestash</p>
<div class="social-proof">
  <div>
    <img src="/img/companies/schneider-electric.png" />
  </div>
  <div>
    <a href="https://www.media.mit.edu/posts/file-sharing/"><img src="/img/companies/mit.png" /></a>
  </div>
  <div><a href="/img/companies/insa-toulouse-proof.png">
    <img src="/img/companies/insa-toulouse.png" />
  </a></div>
  <div>
    <img src="/img/companies/dhl.png" />
  </div>
  <div>
    <img src="/img/companies/bell.png" />
  </div>
</div>
<div class="social-proof">
  <div><a href="/img/companies/university_clermont-proof.png">
    <img src="/img/companies/university_clermont.png" />
  </a></div>
  <div><a href="/img/companies/university_strasbourg-proof.png">
    <img src="/img/companies/university_strasbourg.png" />
  </a></div>
  <div>
    <img src="/img/companies/shell.png" />
  </div>
</div>
<br><br><br><br><br>

<style>
 .social-proof {
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow-x: hidden;
     margin: 10px 0;
 }
 .social-proof img {
     width: 240px;
     height: 50px;
     filter: grayscale(100) brightness(100) invert(0.5);
 }
</style>

<div id="features" style="padding-bottom:0">
  <div class="container large">
    <div class="row features main">

      <div class="feature">
        <img alt="screenshot of Filestash when uploading" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature1.png" />
        <h2>L'explorateur S3 qui fonctionne comme un navigateur de fichiers</h2>
        <p>
          Notre client web facilite la navigation, l'exploration, le téléchargement de fichiers dans vos buckets, mais aussi le renommage ou la suppression d'objects S3, directement depuis l'interface web!
        </p>
        <img alt="screenshot of Filestash when uploading" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature1.png" />
      </div>

      <div class="feature">
        <img alt="screenshot of the text editor" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.1.png" />
        <h2>Téléchargement et édition d'object S3</h2>
        <p>
          Que vous hébergiez un site web ou stockiez de nombreux documents sur S3, vous pouvez visualiser et modifier votre site web, vos documents Word, vos tableurs et bien d'autres.
        </p>
        <img alt="screenshot of the text editor" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.1.png" />
      </div>

      <div class="feature">
        <img alt="S3 logo" loading="lazy" class="fancy pull-left hidden-xs" src="https://miro.medium.com/max/580/1*DHe24MbDHtbkOeIJzxrfdA.png" />
        <h2>Amazon S3, mais pas seulement</h2>
        <p>
          Que vous utilisiez AWS ou une alternative compatible, Filestash est là pour vous aider à explorer vos buckets. Par exemple, vous pouvez vous connecter à <a onclick="clickPublicS3Handler(event, {access_key_id: 'Q3AM3UQ867SPQQA43P2F', secret_access_key: 'zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG', endpoint: 'https://play.minio.io:9000/'});" href="https://play.minio.io:9000/">Minio</a>
        </p>
        <img alt="illustration of the shared link screen" loading="lazy" class="fancy visible-xs" src="https://miro.medium.com/max/580/1*DHe24MbDHtbkOeIJzxrfdA.png" />
      </div>

      <div class="feature">
        <img alt="screenshot of the application" loading="lazy" class="fancy pull-right hidden-xs" src="/img/screenshots/viewerpage.png" />
        <h2>Apparence de gestionnaire de fichiers classique</h2>
        <p>
          Filestash se veut facile à utiliser par tous sans formation préalable puisqu'il fonctionne tout comme Dropbox ou Google Drive.
        </p>
        <img alt="screenshot of the application" loading="lazy" class="fancy visible-xs" src="/img/screenshots/viewerpage.png" />
      </div>

      <div class="feature">
        <img alt="agpl logo" loading="lazy" class="fancy pull-left hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.2.png" />
        <h2>Logiciel libre et open source</h2>
        <p>
          Vous n'êtes pas obligé de nous faire confiance. Le code de notre logiciel est disponible sur <a href="https://github.com/mickael-kerjean/filestash">Github</a> pour que chacun puisse télécharger, auditer, auto-héberger et contribuer en retour.
        </p>
        <img alt="agpl logo" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.2.png" />
      </div>

      <div class="feature">
        <img alt="logo of the 3 main operating system" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.4.png" />
        <h2>Mac, Windows, Linux, IOS et Android</h2>
        <p>
          Filestash est l'application S3 manquante qui est disponible depuis votre navigateur. Aucun téléchargement requis, notre outil est portable et fonctionne sur n'importe quelle plateforme
        </p>
        <img alt="logo of the 3 main operating system" loading="lazy" class="fancy pull-left visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.4.png" />
      </div>

      <div class="feature">
        <img alt="screenshot of the shared link" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/feature_share_0000.png" />
        <h2>Collaborer facilement</h2>
        <p>
          Filestash vous permet de créer des liens partagés sans partager vos clés. Les liens partagés peuvent être protégés par un mot de passe et/ou être disponibles uniquement pour une adresse e-mail spécifique ou un domaine (exemple : '*@my-company.com')
        </p>
        <img alt="screenshot of the shared link" loading="lazy" class="fancy visible-xs" src="/img/screenshots/feature_share_0000.png" />
      </div>


      <div class="feature">
        <img alt="network drive in OSX finder" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.3.png" />
        <h2>Intègration à votre gestionnaire de fichiers</h2>
        <p>
          Les liens partagés peuvent être montés dans votre gestionnaire de fichiers et être utilisés comme n'importe quel autre lecteur réseau
        </p>
        <img alt="network drive in OSX finder" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.3.png" />
      </div>

      <div class="feature">
        <img alt="search screenshot" loading="lazy" class="fancy pull-left hidden-xs" src="/img/screenshots/search.png" />
        <h2>Recherche de fichier</h2>
        <p>
          Trouver votre contenu est essentiel. Filestash dispose d'un puissant moteur de recherche que vous pouvez configurer soit pour la recherche de nom ou en texte intégral.
        </p>
        <img alt="search screenshot" loading="lazy" class="fancy visible-xs" src="/img/screenshots/search.png" />
      </div>

      <div class="feature">
        <img alt="plugin" loading="lazy" class="fancy pull-right hidden-xs" src="/img/posts/2019-08-20-ftp-web-client.html.6.png" />
        <h2>Extensible et configurable</h2>
        <p>
          Filestash peut être configuré pour avoir une apparence et un fonctionnement variés, à la fois avec votre propre design et via la configuration via la console d'administration. Si vous avez besoin d'aller plus loin, vous pouvez étendre le programme en créant des <a href="/docs/plugin/">plugins</a>
        </p>
        <img alt="plugin" loading="lazy" class="fancy visible-xs" src="/img/posts/2019-08-20-ftp-web-client.html.6.png" />
      </div>

    </div>

    <h2 class="center" style="margin-top:0;">Notre objectif est de faire le meilleur navigateur S3 dit S3 browser</h2>
    <p>
      Les interfaces graphiques et <a href="{% post_url 2020-07-14-aws-cli-guide %}">CLI S3</a> traditionnelles telles que l'interface de ligne de commande Amazon, <a href="https://cloudberry-explorer-for-amazon-s3.en.lo4d.com/windows">Cloudberry Explorer</a> ou <a href="https://cyberduck.io/">Cyberduck</a> sont idéales pour les administrateurs système qui ont besoin de toute la puissance de S3, mais l'accès à toutes ces fonctionnalités rend leur utilisation plus difficile pour les autres. La proposition de Filestash est de rendre les protocoles et la plateforme comme Amazon S3 faciles à utiliser pour les utilisateurs normaux et non les administrateurs système qui disposent déjà d'excellents outils pour travailler tout en apportant des fonctionnalités de collaboration et en donnant à S3 l'apparence et la convivialité d'un remplacement moderne de Dropbox
    </p>

    <p style="margin-top: 100px;">
      Nous espérons que vous trouverez Filestash aussi cool que nous. Si vous avez besoin d'aide ou si vous voulez discuter, vous pouvez nous trouver sur IRC sur Freenode à <a href="https://support.filestash.app/">#filestash</a>
    </p>
    <br><br><br><br><br><br><br><br><br><br>
  </div>

  <div class="call-to-action">
    <h2>Nos autres outils en ligne:</h2>
    <a class="btn light" href="{% post_url 2019-11-26-ftp-web-client-fr %}">FTP</a>
    <a class="btn light" href="{% post_url 2020-01-04-ldap-browser %}">LDAP</a>
    <a class="btn light" href="{% post_url 2020-04-30-sftp-browser-fr %}">SFTP</a>
    <a class="btn light" href="{% post_url 2021-10-18-webdav-client-fr %}">WebDAV</a>
    <a class="btn light" href="https://demo.filestash.app/login">GIT</a>
  </div>

</div>
{% include filestash-demo-dependency.html %}
