---
layout: default
permalink: /redirect.html
head:
  - <meta name="robots" content="noindex">
---

{% include menu.html %}

<div id="redirect">
  You will be redirected in <span id="redirect-counter">x</span> seconds. Or Click <a id="redirect-href" href="">this link</a>
</div>
<script>
  (function() {
      var $app = document.getElementById("redirect");
      var $a = document.getElementById("redirect-href");
      var $counter = document.getElementById("redirect-counter");

      var redirect_uri = (new URLSearchParams(location.search)).get("url");
      if (!redirect_uri) location.href = "/"
      var origin = new URL(redirect_uri).origin;

      var is_valid = false;
      if(!redirect_uri) {
          is_valid = false;
      }
      if (/stripe\.com$/.test(origin)) {
          is_valid = true;
      } else if (/amazon\.com$/.test(origin)) {
          is_valid = true;
      } else if (/kerjean.me$/.test(origin)) {
          is_valid = true;
      } else {
          is_valid = false;
      }

      if (is_valid !== true) {
          $app.textContent = "Invalid link";
          return;
      }

      function redirect(t) {
          if(t > 0) {
              $counter.textContent = t;
              setTimeout(() => redirect(t - 1), 1000);
          } else if(t === 0) {
              location.href = redirect_uri;
          }
      }
      $a.setAttribute("href", redirect_uri);
      $a.setAttribute("ref", "nofollow");

      $counter.textContent = 1;
      window.addEventListener("load", () => redirect(0));
  })();
</script>

<style>
  #redirect {
      text-align: center;
      margin: 100px auto;
      font-size: 1.1rem;
  }
  #footer { opacity: 0; }
</style>
{% include footer.html %}
