---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	    <meta name="theme-color" content="#415364">
	    <meta property="twitter:card" content="summary">
	    <meta property="og:type" content="website">
	    <meta property="og:site_name" content="Filestash">
	    <meta property="og:locale" content="en_US">
	    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Filestash{% endif %}">
	    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	    <meta property="og:image" content="/img/logo/logo.png">

	    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

	    <link rel="stylesheet" href="/css/bootstrap.min.css">
	    <script src="/js/jquery.min.js"></script>
    </head>
    <body>
        <style> {% include style.css %} </style>
        <script src="/js/promo.js" defer></script>
	    {{ content }}

        <script src="/js/lazyload.min.js"></script>
	    <script src="/js/main.js" defer></script>
        <script src="/js/lunr.min.js" defer></script>
    </body>
</html>
