---
layout: default
---

{% include menu.html context="splash" %}

{% if page.banner %}
<div id="hero-banner"></div>
<style>
  #hero-banner {
      background: #e2e2e2;
      width: 100%;
      height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: url({{ page.banner }});
  }
  #main h1 {
      color: white;
      margin: 0;
      position: relative;
      top: -240px;
      font-size: 3rem;
  }

  #main #callout {
      display: flex;
      justify-content: space-around;
      position: relative;
      top: -100px;
      margin-bottom: -40px;
  }
  #main #callout > div {
      background: white;
      border-radius: 3px;
      box-shadow: 0 0 5px rgba(65, 83, 100, 0.15);
      padding: 30px;
      margin: 0 10px;
      text-align: center;
      font-size: 0.9rem;
  }
  #main #callout > div strong {
      font-size: 1.1rem;
      color: var(--dark);
  }
</style>
{% endif %}

<div id="main" class="container">
  {% include page.html %}
</div>
{% include footer.html %}
